[2014-03-05 09:44] orikuma opened #1 "cmake failed at jsk_rviz_plugins in jsk.rosbuild"
environment: Ubuntu 12.04 32bit

<error log>
-- +++ processing catkin metapackage: 'jsk_common'
-- ==> add_subdirectory(jsk-ros-pkg/jsk_common/jsk_common)
-- +++ processing catkin package: 'jsk_footstep_msgs'
-- ==> add_subdirectory(jsk-ros-pkg/jsk_common/jsk_footstep_msgs)
-- Generating .msg files for action jsk_footstep_msgs/PlanFootsteps /home/leus/ros/hydro/src/jsk-ros-pkg/jsk_common/jsk_foots

[2014-03-05 09:49] #1 closed, assigned to nobody

[2014-03-05 10:43] k-okada opened #5 "cmake failed at jsk_rviz_plugins in jsk.rosbuild"
moved from https://github.com/jsk-ros-pkg/jsk_common/issues/287

クリーンインストールしたUbuntu 12.04 32bitにおいてjsk.rosbuildを実行したところjsk_rviz_pluginsのビルドが以下のエラーで失敗する.
ros-hydro-rvizがjsk.rosbuildから入っていないことが原因で, これを手動でインストールしたところ通ったことからパッケージの依存関係の解決がうまく行っていない可能性がある.

[code]

[2014-03-05 11:36] k-okada opened #6 "could nof find TinyXML"
jsk_interactive_markerをコンパイルしようとしてどうしてもTinyXMLが見つからないと言われるんだけど，どうしたらいいかな？
http://wiki.ros.org/tinyxml
みるとやり方は合っていそうなんだけど．

[code]

[2014-03-05 13:23] #6 closed, assigned to garaemon

[2014-03-12 13:55] garaemon opened #7 "add rosbuild test"

[2014-03-13 02:29] #7 closed, assigned to garaemon

[2014-03-18 11:00] garaemon opened #9 "failed to load jsk_rviz_plugins"
on groovy/rosbuild

following error has occured when running rviz:

[code]

[2014-03-19 10:29] garaemon opened #13 "failed to colorize collada mesh marker of hrp2"
![screenshot from 2014-03-19 19 28 09](https://f.cloud.github.com/assets/40454/2458802/48b693d2-af51-11e3-8759-ca20fc10c81f.png)

[2014-03-25 12:09] #9 closed, assigned to garaemon

[2014-03-25 12:11] garaemon opened #16 "integrate move_base_marker into urdf_model_marker"
move_base_marker should be integrated into urdf_model_marker.

[2014-03-28 13:56] #5 closed, assigned to nobody

[2014-04-01 14:04] #16 closed, assigned to tarukosu

[2014-05-01 09:13] aginika opened #26 "Lack of jsk_rviz_plugins' display icons"
I think below 4 Display Types are lack of icons.

AmbientSound
FootStep
NormalDisplay(https://github.com/jsk-ros-pkg/jsk_visualization/pull/23#issuecomment-41829078)
PolygonArrayDisplay

[2014-05-01 13:09] #13 closed, assigned to nobody

[2014-05-10 07:14] k-okada opened #45 "release"
please let me know if you're ready to release

[2014-05-14 02:16] #26 closed, assigned to nobody

[2014-05-15 04:57] #45 closed, assigned to nobody

[2014-05-28 10:26] 130s opened #73 "jsk_pcl_ros/BoundingBoxArray.h: No such file or directory"
Building https://github.com/jsk-ros-pkg/jsk_visualization/commit/d92da92d2baeab44eb9bef2bb51370a50141752d,

[code]

[2014-06-04 01:51] garaemon opened #78 "visualizing histogram"
visualizing histogram must be useful.
(It's a preparation to use color feature for vision program)

the following picture is the histogram visualization of matplotlib.
it's not yet ros-ized.

![screenshot from 2014-06-04 10 47 58](https://cloud.githubusercontent.com/assets/40454/3168798/7be6ab6e-eb8a-11e3-9532-6716af126343.png)

[code]

[2014-06-05 01:47] #78 closed, assigned to garaemon

[2014-06-14 16:28] #73 closed, assigned to nobody

[2014-06-24 16:54] garaemon opened #94 "release"
Tomorrow I will release new version. Please let me know if you guys have some codes to commit

[2014-06-29 02:29] #94 closed, assigned to nobody

[2014-09-09 04:54] tarukosu opened #144 "OverlayMenu の複数メニューの使い分けができない"
同じトピックに，別のメニューをpublish すると rviz で表示できなくなる

https://github.com/tarukosu/jsk_visualization/blob/overlay-menu-bug/jsk_rviz_plugins/scripts/overlay_menu_bug.py

[2014-09-11 01:22] #144 closed, assigned to nobody

[2014-10-02 09:41] k-okada opened #166 "furutarakutive markerの立ち上げ方のドキュメントを作る"
https://github.com/jsk-ros-pkg/jsk_visualization/tree/master/jsk_interactive_markers
のREADME.md に書きましょう

[2014-10-03 17:10] #166 closed, assigned to tarukosu

[2014-10-17 07:08] mmurooka opened #181 "urdf_model_marker で表示させているロボットモデルにjoint_statesを送るとエラー"
以下のlaunchファイルで，ロボットマーカをrvizに表示させている状態で，
`/jsk_model_marker_interce/hrp2/reset_joint_states`をpublishすると，最初の一回目だけ反映されるのですが，その後に以下のエラーのようになって落ちてしまいます．

@tarukosu さん，見ていただけますでしょうか．

launchファイル

[code]

エラー

[code]

[2014-10-20 02:11] #181 closed, assigned to nobody

[2014-10-20 12:54] mmurooka opened #190 "Rviz HUD menu size does not match with title"
Whole title is not inside of menu box.

![screenshot_from_2014-10-20 21 51 10](https://cloud.githubusercontent.com/assets/6636600/4701311/d4141b3e-5857-11e4-94d7-d4138b402502.png)

[2014-11-05 08:30] #190 closed, assigned to nobody

[2014-11-12 03:30] mmurooka opened #215 "Overlayのテキストやグラフがウィンドウのサイズ変更に対応していない"
![screenshot_from_2014-11-13 21 37 10](https://cloud.githubusercontent.com/assets/6636600/5004893/8f6bc442-6a67-11e4-8b97-8624005c9614.png)

[2014-11-12 09:52] YuOhara opened #216 "jsk_interactive_markerのinteractive_point_cloudをuse_bounding_box=falseで使うとエラーが出る。"
interactive_pointcloudをuse_bounding_box=falseであげて、selected_point_cloudを送るとエラーが出てしまいます。
pointcloudを入力したら、その位置にマーカーを作るプログラムとして使えると思ってたんですが、これはhandle_poseかをパブリッシュするノードと併用するべきものなのでしょうか？

[code]

[2014-11-17 09:11] #216 closed, assigned to nobody

[2014-12-01 04:11] aginika opened #227 "make robot model according to string"
from [Discussion at ik-control.l](https://github.com/jsk-ros-pkg/jsk_visualization/pull/224/files#r21065683)

@garaemon 's suggestion
[code]

[2014-12-09 04:02] mmurooka opened #240 "Release deb 20141209"
Cloud you release new deb?
See https://github.com/jsk-ros-pkg/jsk_demos/pull/75#issuecomment-66231627.
The change in https://github.com/jsk-ros-pkg/jsk_visualization/pull/201 is necessary but is not in deb package.

[2014-12-10 05:37] #240 closed, assigned to nobody

[2014-12-15 03:36] chiwunau opened #252 "pr2_tabletop_teleop.launchの立ち上げ方について"
物体とドアのノブを掴むため、自分のプログラムにhandle estimatorを入れてみたく、ちょっとtabletopを試してみたが、interactive_markerは出たところclickしてもPR2が動きませんでした。

ちゃんとソースをコンパイルしていないかもしれないが、pr2_tabletop_teleopを立ち上げる時何か注意すべきことがあるのですか？

[2014-12-28 15:23] #252 closed, assigned to nobody

[2014-12-30 13:43] aginika opened #268 "Sometimes robot-action.l will segmentation fault."
While I use robot-action.l with baxter, sometime it goes segmentation fault when baxter catch object and try to move it.
@tarukosu  Have you ever seen this problem?

[2015-01-11 08:57] aginika commented on #268
Thank you.
I did print debug and the error seems to occur in the actionlib(s wait-for-result.
The fault seemed to be that baxter-interface didn't set the groupname(my fault).

[2015-01-11 08:57] #268 closed

[2015-01-24 06:01] garaemon opened #291 "Add document about rviz panels"
* Picture for each plugin

[2015-01-28 09:32] aginika commented on #291
Is still need?

[2015-01-28 09:35] garaemon commented on #291
great works

[2015-01-28 09:35] #291 closed

[2015-01-28 11:01] garaemon commented on #227
* about robot-interface https://github.com/jsk-ros-pkg/jsk_pr2eus/pull/97
* about robot-model https://github.com/euslisp/jskeus/pull/166

My idea is just using Meta-Object-Programming technique to find good class from current class hierarchy euslisp has.

So what you need is
1. load all the files which defines robot-models and robot-interfaces you want to use.
2. use `make-robot-model-from-name` a

[2015-01-28 11:10] garaemon commented on #227
Any feedback?

[2015-01-28 12:58] snozawa commented on #227
If we have the rule that each robot has ``xx-init`` function,  how about this?
[code]
By using this, we need to add any functions to create robot-model or robot interface.

[2015-01-28 13:02] garaemon commented on #227
Hmm, it works...

[code]

[2015-01-28 13:05] garaemon commented on #227
better one

[code]

[2015-01-28 14:03] garaemon commented on #227
Problem of this `init-robot-from-name` is that it setq different variable according to robot name.
for example, about HRP2JSKNT, `*hrp2jsknt*` is bound and about PR2, `*pr2` is bound.

[2015-01-28 15:28] snozawa commented on #227
How about this?
[code]
In the case of euscollada-robots, robot instance global variable, robot-name, and robot class name are all same:
https://github.com/jsk-ros-pkg/jsk_model_tools/blob/master/euscollada/src/collada2eus.cpp#L1123

[2015-01-28 16:04] garaemon commented on #227
it looks good.

I think we should have two functions:
* `make-robot-model-from-name`

  multiple robot models are useful for planning

* `init-robot-from-name`

  Usefule

And I don't know if `make-robot-interface-from-nane` is useful or not

[2015-01-28 17:48] snozawa commented on #227
Hmm, it is difficult.

In https://github.com/euslisp/jskeus/pull/166, robot model is generated from `(instance* klass :init args)`.
However, currently `*pr2*` is generated as pr2-sensor-robot class instance:
[code]
So, it is difficult to search adequate robot class from name like this:
https://github.com/euslisp/jskeus/pull/166/files#diff-c546f3a6798054fa253ce131ef3b2857R377

How about to use `(pr

[2015-01-28 17:50] snozawa commented on #227
Currently, I do not think we need robot-interface without robot model class, so we do not need `make-robot-interface-from-name` function.

[2015-01-28 18:40] garaemon commented on #227
But (pr2) change value of *pr2*...

2015年1月29日木曜日、Shunichi Nozawa<notifications@github.com>さんは書きました:

--
from iPhone

[2015-01-29 02:28] garaemon commented on #227
I think, about mode + interface generate, using `robot-init` function is reasonable.

However, about creating model, I prefer to make an instance of robot without any side-effect.
So I'd like to add make-robot-model-from-name function proposed in [here](https://github.com/euslisp/jskeus/pull/166)

[2015-01-29 07:01] snozawa commented on #227
I agree with your opinion that it is preferable to avoid from using global variables.

robot-init generates global variables such as `*ri*` and `*pr2*`.  It is also a problem.
(I thought you considered using `*pr2*` is not a problem because you agreed with using `pr2-init`)

If you generate robot model or robot interface (or both of them) without global variables,
adding searching functions is rea

[2015-01-29 07:28] garaemon commented on #227
I found that the side-effect would not be a problem.

side-effect of `*pr2*` woule be a problem only if we have multiple-robot model, but according to our discussion, in that case we can say `we should use make-robot-model-from-name` which is side-effect-free function.

[2015-01-30 09:22] yuki-asano opened #301 "オーバーレイのプロットが重い"
２００個表示すると10fpsくらいになる

[2015-01-30 12:27] garaemon commented on #301
https://github.com/jsk-ros-pkg/jsk_visualization/pull/303
これで解決されるかも

[2015-01-30 14:30] garaemon commented on #301
https://github.com/jsk-ros-pkg/jsk_visualization/pull/304
これでどうだろう

[2015-01-30 18:27] garaemon commented on #301
https://github.com/jsk-ros-pkg/jsk_visualization/pull/305
これでどうだろうか

[2015-01-31 10:05] garaemon commented on #301
200個はかなり厳しいようですね。VRAMとのやり取りに時間がかかっています

[2015-01-31 10:07] garaemon commented on #301
ちなみに、サイズを小さくする(例えば128x128を10x10にする)と速くなります

[2015-01-31 11:27] yuki-asano commented on #301
やっぱり3fpsですね。
outputのグラフが消えてしまいました。
tensionもしきい値が低いのかすぐに赤くなってしまいます。

[2015-01-31 11:30] garaemon commented on #301
outputってなんですか

[2015-01-31 11:31] yuki-asano commented on #301
アクチュエータの出力です。
一つのアクチュエータにつき二つ出ていたグラフの片方になります。

[2015-01-31 11:31] garaemon commented on #301
どっち側ですか?

[2015-01-31 11:32] yuki-asano commented on #301
左右で言う所の右側です

[2015-01-31 11:33] garaemon commented on #301
円グラフか折れ線グラフかで教えてください

[2015-01-31 11:36] yuki-asano commented on #301
そういう意味でしたか。
円グラフです。

[2015-01-31 11:44] garaemon commented on #301
確認します

[2015-01-31 11:57] garaemon commented on #301
何割くらいから赤くなってほしいですか?
今は線形に色を変化させてしまっているのでいまいちかもしれない、非線形にしようかと思います

[2015-01-31 12:04] yuki-asano commented on #301
今の設定がどのくらいか分からないのですが、
確か昔レンジが広すぎるとよくない感じだった気がするので、
30kgf(300N)を上限として、
20kgf(200N)くらいから赤くなるとうれしいのかなと思います。

[2015-01-31 12:26] garaemon commented on #301
piechart消える問題は解決されたかと思います、チェックしてくれると助かります

[2015-01-31 12:40] yuki-asano commented on #301
piechart復活しました。
ありがとうございます。

[2015-01-31 12:41] garaemon commented on #301
大元の高速化については、ロボットモデルのみで20fps以上がでるようになったら最適化しようと思います。

この最適化は結構難しいです。。。

[2015-01-31 12:49] yuki-asano commented on #301
はい、ロボットモデルの削減もおいおいやっていきたいと思います。

[2015-01-31 12:57] garaemon commented on #301
その前に緊張やこびあんの高速化ですね

[2015-01-31 16:48] garaemon commented on #301
一応今すぐできる所までは高速化したのでclose

[2015-01-31 16:48] #301 closed

[2015-02-01 06:59] garaemon commented on #227
merged

Further discussion should be based on real-experience.

[2015-02-01 06:59] #227 closed

[2015-03-16 00:36] 130s opened #355 "error: ‘CV_FOURCC_DEFAULT’ was not declared in this scope writer_.open(file_name_, CV_FOURCC_DEFAULT, fps_, cv::Size(width, height)"
http://answers.ros.org/question/205032/jsk_visualization-build-failure/

[2015-03-16 00:36] #355 closed

[2015-04-19 14:51] wkentaro opened #377 "Error in HistogramPlot"
[code]
I sent PR: https://github.com/jsk-ros-pkg/jsk_visualization/pull/376

[2015-04-19 14:56] garaemon commented on #377
You need to add /histogram suffix to specify fields to visualize

[2015-04-19 14:56] #377 closed

[2015-04-19 15:07] wkentaro commented on #377
now I understand its usage.

[2015-04-19 15:07] wkentaro commented on #377
thank you!

[2015-04-28 10:23] aginika opened #382 "./motor_states_temperature_decomposer.py will crash when the robot_description is baxter's urdf parameters"
[code]

[2015-05-01 17:53] #382 closed

[2015-05-02 09:59] aginika opened #389 "Is it able to popup Strings or Numbers with Pictograms?"
We want to show some numbers as scores with Pictograms

[2015-05-02 10:15] garaemon commented on #389
Please use marker for 3D text

[2015-05-02 10:16] aginika commented on #389
Thanks a lot

[2015-05-02 10:16] #389 closed

[2015-05-02 10:18] garaemon commented on #389
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_rviz_plugins/src/pictogram_display.cpp#L99

You may be able to support number by modifiying this function

[2015-05-20 14:08] wkentaro opened #401 "How can I use the latest rqt_service_buttons?"
by running `rosrun rqt_gui rqt_gui` there are no buttons.
I think it should load default layout yaml file..
![image](https://cloud.githubusercontent.com/assets/4310419/7727589/ad4eb09c-ff44-11e4-9761-c0f7eaad45eb.png)

In 553e50bf742ecdc73a7d05b449f8fb99947d5317 ,
`rosrun jsk_rqt_plugins rqt_service_buttons` works.
![image](https://cloud.githubusercontent.com/assets/4310419/7727632/fb085496-ff44-1

[2015-05-20 14:09] wkentaro commented on #401
Is this bug? Or should I do something more?

[2015-05-20 15:08] garaemon commented on #401
You can find gear button on the right top

2015年5月20日水曜日、Kentaro Wada<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-05-20 18:38] wkentaro commented on #401
Thanks. It was hard to find the way to use this.
because below does not work.
[code]

![image](https://cloud.githubusercontent.com/assets/4310419/7733542/c65aaad4-ff6a-11e4-9ab5-6bd19c6fc0bb.png)

[2015-05-20 18:41] wkentaro commented on #401
I had to type full path after click the gear mark.
To make it easy to use this package for other users, I will add README for this.

[2015-05-20 18:41] #401 closed

[2015-05-20 20:32] garaemon commented on #401
jsk_visualization is not well documented, please add README

[2015-05-21 02:06] wkentaro commented on #401
I sent PR : https://github.com/jsk-ros-pkg/jsk_visualization/pull/404/files

[2015-08-04 07:05] garaemon opened #438 "RobotCommandInterfaceActionのボタンがプログラムに書き込まれている"

[2015-08-05 09:31] #438 closed

[2015-10-01 04:20] garaemon opened #485 "Documentation like jsk_recognition"
I'd like to add documentation to jsk_visualization like jsk_recognition.

@wkentaro Could you prepare readthedocs?

[2015-10-01 04:21] garaemon commented on #485
https://readthedocs.org/projects/jsk-visualization/
I've just enabled readthedocs.

[2015-10-01 04:32] wkentaro commented on #485
Sure.

[2015-10-02 06:58] #485 closed

[2015-10-02 12:35] wkentaro opened #491 "How to use video_capture?"
![image](https://cloud.githubusercontent.com/assets/4310419/10246575/7d08db2e-694d-11e5-8ecb-876181a73dd2.png)

I have StatueError (NOT Writable)

[2015-10-02 12:44] garaemon commented on #491
I found that it is difficult to know a file is writable without creating file.
Now the status error is based on `access` result but it returns true if **file exists** and file is writable.

[2015-10-02 12:45] wkentaro commented on #491
so should the user do `touch output.avi` at `~/.ros`?

[2015-10-02 12:46] garaemon commented on #491
yes but I disabled this feature. https://github.com/jsk-ros-pkg/jsk_visualization/pull/492

[2015-10-02 12:49] wkentaro commented on #491
Is that impossible to check the access right of the directory in which the movie file will be created?

[2015-10-02 12:54] garaemon commented on #491
possible, just a second.

[2015-10-02 12:54] wkentaro commented on #491
Thanks.

[2015-10-02 13:07] garaemon commented on #491
done https://github.com/jsk-ros-pkg/jsk_visualization/pull/494

[2015-10-02 13:09] garaemon commented on #491
In fact, I don't recomment to use video capture because it cannot resolve fps correctly.
 I recommend to use glc.

[2015-10-02 13:51] #491 closed

[2015-10-05 05:06] garaemon commented on #485
jsk_rviz_pluginsのドキュメントの先頭に画像をタイル形式で自動で出力できたりしないものかな?

[2015-10-05 05:15] wkentaro commented on #485
![image](https://cloud.githubusercontent.com/assets/4310419/10273442/8dfe6e74-6b6b-11e5-9c1a-267775910364.png)
ここですか．

[2015-10-05 05:17] garaemon commented on #485
そう、そしていちいちrstに画像リスト書くのは面倒なので、なんかうまいことできないものか

[2015-10-05 05:27] wkentaro commented on #485
tile状にした画像を書き出すプログラムをpure pythonで書けばreadthedocs上で画像を生成するとかが可能だと思います．（gitのログに残さない綺麗な方法）

[2015-10-05 05:28] garaemon commented on #485
イメージとしては、[こういうページ](http://matplotlib.org/gallery.html)にしたい

[2015-10-05 05:32] wkentaro commented on #485
いいと思います．

[2015-10-05 06:21] wkentaro opened #500 "[jsk_rviz_plugins] Can we rotate image with OverlayImage or Camera?"
suggested by @eisoku9618

Sometimes, camera image is rotated with fixed angle. (that is not bug of software but default camera pose attached to robot)
In that case, the user want to rotate the image with the fixed angle on rviz.

Any idea about this?

[2015-10-05 06:22] garaemon commented on #500
http://wiki.ros.org/image_rotate

[2015-10-05 06:24] garaemon commented on #500
`jsk_pcl_ros/ImageRotate` is same to official image_rotate.
historical reason behind it.
https://github.com/jsk-ros-pkg/jsk_recognition/issues/32
https://github.com/ros-perception/image_pipeline/pull/62
https://github.com/ros-perception/image_pipeline/pull/63

[2015-10-05 06:43] k-okada commented on #500
https://github.com/ros-perception/image_pipeline/tree/indigo/image_rotate
or
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/virtual_camera_mono.cpp

--
◉ Kei Okada

On Mon, Oct 5, 2015 at 3:21 PM, Kentaro Wada <notifications@github.com>
wrote:

[2015-10-05 10:11] wkentaro opened #502 "tile images on top page of readthedocs"
suggested at: https://github.com/jsk-ros-pkg/jsk_visualization/issues/485#issuecomment-145431501
by: @garaemon

like http://matplotlib.org/gallery.html

assigned to: @wkentaro

[2015-10-05 10:16] wkentaro commented on #502
方法案

* tile_images.py(pure python without opencv)をdoc/以下に置く
* tile_images.pyはドキュメント生成時に実行される
* tile_images.pyはdoc/jsk_rviz_plugins/imagesを見てすべてをタイル状にした画像を出力する
* doc/jsk_rviz_plugins/index.rstにタイル状の画像を載せる

[2015-10-05 10:17] wkentaro commented on #502
ただこうなると、それぞれの画像にリンク貼りたいとかになりますよね。。
ということは、index.rstを生成する実行ファイルという話になります。

[2015-10-05 10:22] garaemon commented on #502
まじめにやると、mdやらrstのASTを作って画像のリストを作るみたいに成りますが、sed的なもので適当にできるんじゃないかなと思ってます。

[2015-10-05 10:23] garaemon commented on #502
たとえば、texから画像ファイルを抜き出して、そのファイルを調べるスクリプト

[code]

[2015-10-05 10:25] wkentaro commented on #502
画像ファイルはすべてimagesフォルダにあるからそれを全部並べればいいということではないですか？

[2015-10-05 10:28] garaemon commented on #502
そうかも。png -- mdの対応関係がほしいと思うので、適当に正規表現で抜き出したら対応付けは作れる気がしますね

[2015-10-05 10:30] wkentaro commented on #502
確かに画像ファイルの名前が必ずしも
* mask_image_to_point_indices1.png
* mask_image_to_point_indices2.png
* mask_image_to_point_indices.md
みたいにはなっていなそうですね。

[2015-10-05 10:31] garaemon commented on #502
逆にそういう命名速に合わせる、というのもありですね。

[2015-10-05 10:35] wkentaro commented on #502
個人的には命名則派ですかね。シンプルなので。

[2015-10-05 10:35] wkentaro commented on #502
rstでtableを使えばこんな感じで出来ました。
https://github.com/wkentaro/inbox/blob/master/rst-tile-images-with-link/index.rst

[2015-10-05 10:36] wkentaro commented on #502
これならスクリプトで作るのも簡単そうです。

[2015-10-06 04:43] wkentaro commented on #502
こんな感じでしょうか。
![image](https://cloud.githubusercontent.com/assets/4310419/10300353/2dfa54aa-6c30-11e5-94be-41df4ee2f5d5.png)

[2015-10-06 04:45] garaemon commented on #502
良い感じだと思います

[2015-10-06 11:00] #502 closed

[2015-10-14 10:31] mmurooka opened #510 "jsk_rviz_pluginsのビルドでsignal_type.hppでエラー"
手元のPCでjsk_rviz_pluginsのcatkin buildが通らず
原因をご存知の方いらっしゃいましたらお教えください．

ログを下に貼り付けましたが，
http://www.boost.org/doc/libs/1_57_0_b1/boost/signals2/signal_type.hpp の
[code]
で
`BOOST_SIGNALS2_NAMED_SIGNATURE_PARAMETER`がdefineされてしまっていることが
いけないようですが，他の環境では再現しないようです．

[code]

[2015-10-14 10:55] mmurooka commented on #510
ソース古いだけでした．ごめんなさい．

[2015-10-14 10:55] #510 closed

[2015-10-16 05:43] orikuma opened #513 "[jsk_rviz_plugins] Cannnot build jsk_rviz_plugins because of template arguments error"
jsk_rviz_plugins cannot built in jaxonred (dependent package of jsk_footstep_controller).
- pcl_ros and pcl_conversions are built from source (hydro-devel)
- jsk_recognition and jsk_visualization are HEAD of master

[code]

[2015-10-16 05:46] garaemon commented on #513
テスト通っているので環境がなにかおかしいんじゃないかな

#define BOOST_MAXなんとかを7にしないといけない系のエラーだけど

[2015-10-16 05:49] garaemon commented on #513
jaxonredはjsk_rviz_pluginsが最新じゃなかったです。
pullしたので確認してください

[2015-10-16 05:56] orikuma commented on #513
確認不足でした. 申し訳ございません.
無事buildが通りました.

[2015-10-16 05:56] #513 closed

[2015-10-16 06:06] garaemon commented on #513
https://github.com/jsk-ros-pkg/jsk_common/issues/1187

issue報告用ツールがあるといいですね

[2015-10-16 06:52] #500 closed

[2015-11-18 14:11] wkentaro opened #526 "[jsk_rviz_plugins] Need to fix link error at #525"
Need to make the test passes on https://github.com/jsk-ros-pkg/jsk_visualization/pull/525.

[2015-12-02 14:36] YuOhara opened #528 "BoundingBoxのshow_coordsがおかしい"
https://github.com/jsk-ros-pkg/jsk_recognition/issues/1360
で報告されていることですが、ここにあるコードがおかしい可能性があります。
https://github.com/jsk-ros-pkg/jsk_visualization/pull/420
のような修正が必要でしょうか。

[2015-12-02 14:45] garaemon commented on #528
たぶんそう

[2015-12-04 12:48] wkentaro commented on #526
fixed

[2015-12-04 12:48] #526 closed

[2015-12-07 04:15] #528 closed

[2015-12-10 06:17] garaemon opened #538 "Use KDL in urdf_model_marker and remove dynamic_tf_publisher"

[2015-12-15 06:15] garaemon opened #548 "Use source and JSK jenkins for hydro test"
Because hydro-shadow-fixed is no longer maitained

[2015-12-19 15:17] wkentaro opened #551 "[jsk_interactive_marker] build fail on generating java message"

[2015-12-19 15:22] wkentaro commented on #551
https://gist.github.com/wkentaro/da442028a4e383947d4a

[2015-12-19 15:23] wkentaro commented on #551
[code]
any idea how to fix this error?

[2015-12-20 07:41] garaemon opened #554 "[tile_image.py] Highre resolution"
I need more higher resolution image outputted by tile_image.py

![screenshot_from_2015-12-20 16 39 28](https://cloud.githubusercontent.com/assets/40454/11917025/745063f2-a738-11e5-8e82-9bcccaec4ec0.png)

sample launch

[code]

[2015-12-20 07:42] garaemon commented on #554
My proposal is

* to add column parameter as dynamic_reconfigure (now it is estimated by sqrt)
* to use cv2.vconcat and cv2.hconcat instead of matplotlib concatenation to keep original resolution

[2015-12-20 07:46] wkentaro commented on #554
The initial column width would be max width of the images?

[2015-12-20 07:47] wkentaro commented on #554
It's easy to concatenate images if these images size are same, but if not, it's not so simple..

[2015-12-20 07:58] wkentaro commented on #554
do you imagine like this?
https://github.com/wkentaro/apc-od/pull/20#issuecomment-157343007

I'm using this function to do this.
https://github.com/lisa-lab/pylearn2/blob/master/pylearn2/packaged_dependencies/theano_linear/imaging.py#L191

[2015-12-20 09:11] garaemon commented on #554
Yes,

[2015-12-25 01:05] #551 closed

[2016-01-21 09:19] aginika opened #567 "SelectPointCloudPublishAction has hard-coded tf frame name"
I don't have any idea to get pointcloud frame....
So I just open the issue here.
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_rviz_plugins/src/select_point_cloud_publish_action.cpp#L58

[2016-03-21 09:00] #567 closed

[2016-04-28 18:56] wkentaro commented on #554
this is fixed via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1518

[2016-05-05 06:57] #554 closed

[2016-05-13 07:32] amc-nu opened #594 "License question"
Thank you for sharing such a great project.

Could you tell me what kind of license does your jsk visualization tool for Rviz hold?

Thanks

[2016-05-13 07:34] k-okada commented on #594
its bsd
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_visualization/package.xml#L14
,
you're free to use
--
◉ Kei Okada

On Fri, May 13, 2016 at 4:32 PM, Abraham <notifications@github.com> wrote:

[2016-05-13 07:37] amc-nu commented on #594
Thanks for your prompt response!

[2016-05-13 07:37] #594 closed

[2016-06-01 10:43] wkentaro opened #597 "Difficult to handle image size of OverlayImage with keep_aspect_ratio=true"
Both width/height are editable, and the behavior looks weird.

https://drive.google.com/open?id=0B9P1L--7Wd2vODNHQlFYVGJBdlU

[2016-06-01 11:58] wkentaro opened #600 "Jade release"
This issue is waiting for https://github.com/ros-gbp/view_controller_msgs-release/issues/1.

[2016-06-02 08:12] wkentaro opened #603 "Use small sized icon"
We should use small sized icon for faster adding display panels.
Reported at: https://github.com/ros-visualization/rviz/issues/1014

[2016-06-02 09:39] #597 closed

[2016-06-03 03:21] #603 closed

[2016-07-19 15:07] wkentaro opened #612 "Request of next release: 1.0.32?"

[2016-07-20 00:09] k-okada commented on #612
done https://github.com/ros/rosdistro/pull/12202

[2016-07-20 00:09] #612 closed

[2016-07-20 08:39] wkentaro commented on #548
This is already fixed: https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/.travis.yml#L18
Please close this.

[2016-07-20 08:59] #548 closed

[2016-07-20 16:13] wkentaro commented on #612
thank you.

2016年7月20日水曜日、Kei Okada<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2016-07-28 11:57] yukkysaito opened #615 "Kinetic version"
Is it possible to make kinetic version?

[2016-07-29 07:18] k-okada commented on #615
if you install some package from source, I think you can, please find the list of required packges and add to this repository as .travis.rosinstall.kinetic
https://github.com/jsk-ros-pkg/jsk_visualization/commit/d80fac31ffbbaa12d37608170da6f3d836539667

[2016-08-02 12:19] wkentaro opened #619 "Travis testing fails because of timeout for hydro"
<img width="1044" alt="screen shot 2016-08-02 at 21 18 49" src="https://cloud.githubusercontent.com/assets/4310419/17328139/ea489c8a-58f6-11e6-9e81-cb8963b6ea28.png">
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/trusty-travis-jsk-ros-pkg-jsk_visualization-hydro-deb-false/94/

[2016-08-10 07:05] ishiguroJSK opened #625 "[jsk_rqt_plugins] ColorHistogramのヒストグラムプロットが出来ない(color_histogram_sample.launch)"
`roslaunch jsk_perception color_histogram_sample.launch `
がそのままでは失敗します．
まずそもそも，launch内でrqt_histogram_plotに渡しているヒストグラムのトピック名が違っている気がしていて，
そのままだと
[code]
みたいなエラーが出るため，color_histogram_sample.launch内の
[code]
のargs部を
[code]
などに書き換えたところ，上記のエラーは止まったものの，image_view2内でマウスによる赤枠選択を行った後に
`[ERROR] [WallTime: 1470812127.683535] Topic/Field name '/color_histogram/hue_histogram' has unsupported '<class 'jsk_recogni

[2016-08-10 07:50] wkentaro commented on #625
[code]
にするとどうでしょう。

[2016-08-10 07:54] ishiguroJSK commented on #625
できちゃった。

[2016-08-10 07:57] wkentaro commented on #625
エラーメッセージに

とあるので、Float型のListになっているjsk_recognition_msgs/ColorHistogramのhistogramフィールドはプロットできるということです。

[code]

[2016-08-10 08:00] ishiguroJSK commented on #625
なるほど・・・しかし，どちらもjsk_recognition_msgs/ColorHistogramなのはこういうものなんでしょうか
[code]

[2016-08-10 08:24] wkentaro commented on #625
なるほど、rostopicへの変更が必要そうですね。
https://github.com/ros/ros_comm/blob/kinetic-devel/tools/rostopic/src/rostopic/__init__.py#L912

[2016-08-10 20:59] ishiguroJSK commented on #625
なにはともあれ，デバッグありがとう．おかげで正常に動作確認出来ました．
次はhttps://github.com/jsk-ros-pkg/jsk_visualization/issues/625のsampleとtestが動作することを確認してdocに追記ですね．
(rostopicの件は正直よく分からんとです・・・)

[2016-08-19 22:22] marklewis3000 opened #629 "jsk_rviz_plugins OverlayText - How to show multiple texts, and what fonts are available?"
I have 2 questions about using jsk_rviz_plugins / OverlayText

The OverlayText demo shows the following text being displayed:
    "You can write several text to show the operator  ...   you can choose font"

1) How can you display more than one OverlayText at the same time?
    Hopefully without requiring one publisher for each text, maybe using and ID or Name??

2) What other fonts are available

[2016-08-20 05:37] wkentaro commented on #629
Hopefully without requiring one publisher for each text, maybe using and ID or Name??

To display text more than one OverlayText, the plugin requires one publisher for each text.

[2016-08-20 06:31] wkentaro commented on #629
Probably #630 works.

[2016-08-23 04:10] wkentaro commented on #629
Fixed?

[2016-08-23 04:10] wkentaro commented on #625
It seems this issue is resolved. Please close this.

[2016-08-23 04:11] wkentaro commented on #619
Closed via https://github.com/jsk-ros-pkg/jsk_visualization/pull/620

[2016-08-23 04:11] #619 closed

[2016-08-23 04:15] #625 closed

[2016-08-23 14:52] marklewis3000 commented on #629
Sorry, but to test this, where is the latest binary/debian or how do I find and install the latest build?

[2016-08-23 15:35] wkentaro commented on #629
[code]

[2016-08-23 22:53] marklewis3000 commented on #629
Sorry. I've been using catkin_make instead of catkin. So I installed catkin and pip, and I have now tried to build with catkin using your instructions above, and I think it completed. How then do you install the newly generated plugin into my rviz?

[2016-08-24 05:40] wkentaro commented on #629
[code]

[2016-08-24 14:31] marklewis3000 commented on #629
Yes, once I checkbox 'Overtake Color Properties' the 'font' property appears, and I can select from among about 100 listed fonts.

[2016-08-24 15:09] wkentaro commented on #629
Sounds good. If your problem is resolved, please close this issue.

[2016-08-24 15:12] marklewis3000 commented on #629
Latest update shows the available fonts for OverlayText. Closing issue

[2016-08-24 15:12] #629 closed

[2016-09-02 22:52] marklewis3000 opened #634 "caption contents for Plotter2D and PieChart in jsk_rviz_plugins?"
The caption for Plotter2D is simply '**Plotter2D**', and likewise, the caption for PieChart is simply '**PieChart**'.

I would like to customize the caption as needed, such as '**Newtons**' and  '**Meters/Sec**'.

How can this be done? I don't see a property for the contents of the captions.

Thank you

[2016-09-08 15:09] wkentaro opened #635 "Request of next release: 1.0.33 or 1.1.0"
@k-okada Could you please work on this?

[2016-09-10 05:32] k-okada commented on #635
yes, I tried to do this after solving https://github.com/jsk-ros-pkg/jsk_visualization/issues/634

[2016-09-12 06:45] k-okada commented on #634
Please look at #636, that will solve your problem, Also this will be released as deb very soon.

[2016-09-12 17:01] k-okada commented on #634
may be we do not have to change anything, just to rename plugins display name as described in http://docs.ros.org/jade/api/rviz/html/user_guide/#naming-displays,

![screenshot from 2016-09-13 01 52 27](https://cloud.githubusercontent.com/assets/493276/18444864/f45dfde4-7955-11e6-8ace-8143a9615736.png)
![screenshot from 2016-09-13 01 52 42](https://cloud.githubusercontent.com/assets/493276/18444870

[2016-09-13 01:53] k-okada commented on #635
https://github.com/ros/rosdistro/pull/12678 done

[2016-09-13 01:53] #635 closed

[2016-09-13 12:35] wkentaro commented on #635
Thank you!

2016年9月13日火曜日、Kei Okada<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2016-09-14 21:29] marklewis3000 commented on #634
Using the 'Rename' button near the bottom of the' Displays' panel does change the Caption. Thank you!

[2016-09-14 21:29] #634 closed

[2016-09-20 15:10] #615 closed

[2016-09-21 07:04] k-okada commented on #615
thanks to https://github.com/ros-gbp/view_controller_msgs-release/issues/1#issuecomment-247172123, I can release jade version  https://github.com/ros/rosdistro/pull/12781, as for kinetic, we need to wait
dynamic_tf_publisher, image_view2, jsk_pcl_ros, jsk_recognition_msgs, jsk_topic_tools, pr2eus_moveit,  roseus.....

[2016-11-28 07:08] longjie opened #648 "How to use the jsk_rviz_plugins for Kinetic?"
Hello,

What is the easiest way to use the jsk_rviz_plugins for Kinetic?
Is there any script files or .rosinstall to get all I need?

Thank you,

[2016-11-28 07:51] wkentaro commented on #648
Currently, we don't support kinetic and no .rosinstall for that.
At first, we need to create `.travis.kinetic` like [`.travis.hydro`](https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/.travis.rosinstall.hydro).

[2016-11-28 07:59] longjie commented on #648
I see, it must not be difficult even for me.
I just wanted to know if I have a wiser way.
Thank you!

[2016-11-28 08:00] wkentaro commented on #648
[code]

[2016-11-28 08:44] longjie commented on #648
Hmm, it seems jsk_rviz_plugins have much more unmet dependencies in Kinetic, such as jsk_perception related packages. It may take some times.

Jade is OK, I could build jsk_rviz_plugins in Jade, after all jsk binary packages installed.

Thanks anyway,

[2016-11-28 10:38] k-okada commented on #648
you do not have to compile jsk_rviz_plugins, jade is already released as
deb package
https://github.com/ros/rosdistro/pull/12852
http://repositories.ros.org/status_page/ros_jade_default.html?q=jsk_rviz_plugins&s=1

--
◉ Kei Okada

2016-11-28 17:44 GMT+09:00 Ron Tajima <notifications@github.com>:

[2016-11-28 10:38] k-okada commented on #600
this is has been solved -> https://github.com/ros/rosdistro/pull/12852

c.f. #648

[2016-11-28 10:38] #600 closed

[2016-11-28 10:43] wkentaro commented on #648
@longjie For kinetic, you only need to install jsk_recognition from source.
(for jsk_rviz_plugins or jsk_rqt_plugins)
https://github.com/jsk-ros-pkg/jsk_visualization/pull/649/files#diff-a9585a05e3e573d88fd2506df53f7bee

The test on https://github.com/jsk-ros-pkg/jsk_visualization/pull/649 passes, so please see it for more detail.

[2016-11-28 12:50] longjie commented on #648
Yeah, I see. I'm closing this issue when we can build it (actually my colleague is doing).
We may be happier sticking to Jade for a while. BTW thank you for your support!

[2017-01-11 12:59] mizmizo opened #652 "Segmentation fault when add topic in Rviz on kinetic"
ros kinetic環境でrvizでjsk_ros_pluginsのtopicを表示させようと（Add->display type選択->OK）すると、以下のようにsegmantation faultとなってrvizが落ちてしまいます。
[code]

Rvizのデフォルトのtype(pointclud2等)では正常に表示できていて、
jsk_rviz_pluginsのビルドもwarning等出ずに通っているようです。

考えられる原因や確認すべき点等ご存知でしょうか？

[2017-01-11 13:10] wkentaro commented on #652
というのはどういう意味ですか？
jsk_rviz_pluginsのどのdisplay typeでもsegfaultするという意味でしょうか？

[2017-01-11 13:19] mizmizo commented on #652
説明が分かりづらかったです。そのとおりで、どのtypeを選んでもsegfaultしてしまいます。

[2017-01-11 13:28] k-okada commented on #652
gdbかけてどこで落ちるか調べてみましょう

--
◉ Kei Okada

2017-01-11 22:19 GMT+09:00 Hiroto MIZOHANA <notifications@github.com>:

[2017-01-11 13:45] mizmizo commented on #652
[code]

ということなのでQtで落ちていて、
Kineticではqt5がサポートされているのに対してqt4.8が呼び出されているのが原因のように思われます。

バージョンを上げて解決するか試してみます。ご教授ありがとうございました。

[2017-07-07 09:57] wkentaro opened #671 "Release 2.1.2"
@k-okada Could you please do this?

[2017-07-07 10:18] k-okada commented on #671
https://github.com/ros/rosdistro/pull/15459 Done

2017年7月7日(金) 18:58 Kentaro Wada <notifications@github.com>:

--
--
◉ Kei Okada

[2017-07-07 10:34] wkentaro commented on #671
Thank you so much.

[2017-07-07 10:34] #671 closed

[2018-01-24 10:04] pxlong opened #685 "PolygonArray is always rendered as black color."
Hi, thanks for sharing this great rviz plugin.

I use `jsk_recognition_msgs::PolygonArray` in Ubuntu 16.04 + ROS Kinetic.
The polygon array is always filled with black color in rviz when I disable "only border" and change "coloring" to Flat color, no matter what color I picked.

[2018-01-24 11:02] k-okada commented on #685
Sorry that I can not reproduce this problem
Can you try with this sample code to publish `jsk_recognition_msgs::PolygonArray` ?
[code]
and could visualize in rviz, I have tested in both deb (2.1.1) and latest source (2.1.3+)
![screenshot from 2018-01-24 19-57-03](https://user-images.githubusercontent.com/493276/35328913-4b13ddd8-0141-11e8-963c-5a6c421e055a.png)

[2018-01-24 12:23] pxlong commented on #685
Hi @k-okada, many thanks for the quick reply.

I recorded a video to show the problem. Please check: https://youtu.be/NufN7DZCzYU
It will not always rendered with black, the color will change according to the viewpoint. At some viewpoints, the color seen by human's eye is black.

[2018-01-24 15:41] k-okada commented on #685
OK, though I can not see your video as follows
![screenshot from 2018-01-24 23-00-19](https://user-images.githubusercontent.com/493276/35341037-0a5fb6f0-0168-11e8-9a98-31d29c9644dc.png)

I think I can understand your situation, how about https://github.com/jsk-ros-pkg/jsk_visualization/pull/686 ? Will this solve your problem?
I'm not sure about your usecases, but in some situation, for example dis

[2018-01-25 01:57] pxlong commented on #685
@k-okada, sorry for the unplayable video, I am sure you can see it now: https://youtu.be/NufN7DZCzYU.
Thanks

[2018-01-25 03:07] pxlong commented on #685
Hi @k-okada, thanks so much, #686 perfectly solve my issue.

[2018-01-26 08:15] #685 closed

[2018-04-12 15:28] ClementLeBihan opened #690 "Convex Bounding Box"
Hi,

I would like to know if there exist a Convex Bounding Box. I found this image on the web, and would like to use this box in RVIZ with my convex clusters.

It's seems that it doesn't exist in the jsk_rviz_plugin, but you might be able to help me.

Thank you,
Best,
ClémentLB

![1 jx_vhtmqbtwmrubf6xoxwg](https://user-images.githubusercontent.com/12940019/38687300-a2283bf6-3e76-11e8-948a-3a5d19e6

[2018-05-18 04:40] knorth55 opened #691 "Release request of 2.1.3 on Kinetic"
Kinetic is still `2.1.1`. I want to use `2.1.3`.

[2018-05-18 05:37] k-okada commented on #691
https://github.com/ros/rosdistro/pull/17891

--
◉ Kei Okada

2018-05-18 13:41 GMT+09:00 Shingo Kitagawa <notifications@github.com>:

[2018-05-18 05:51] knorth55 commented on #691
@k-okada thank you !

[2018-05-18 05:51] #691 closed

[2018-06-12 08:51] ClementLeBihan opened #694 "find_package doesn't load jsk_rviz_plugins"
Hi guys,

I added jsk_rviz_plugins in my find_package(catkin REQUIRED COMPONENTS),
And after that, I have all my lib except libjsk_rviz_plugins.so

And so I have a undefined reference during link ... Anyone know how to link to jsk_rviz_plugin ? I need to create an overlayer of jsk_rviz_plugins :)

Best,
Clément

[2018-06-13 02:34] k-okada commented on #694
can you share your package, so that I can help your debugging?

--
◉ Kei Okada

2018-06-12 17:51 GMT+09:00 ClementLeBihan <notifications@github.com>:

[2018-06-21 06:35] chinitaberrio opened #697 "Polygons are not solid"
Hi all!

I'm publishing 121 polygons in a polygon array, in rviz i can only see the border of the polygon (here the only border box is ticked)

![image](https://user-images.githubusercontent.com/30284346/41701590-5efc9a76-7570-11e8-9965-535c5b711588.png)

When the "only border" box is not ticked i can't see anything regarding the polygons.

![image](https://user-images.githubusercontent.com/302843

[2018-06-21 06:45] furushchev commented on #697
@chinitaberrio Could you paste a content of the published message for further debugging? (If this problem happens even the number of polygons is only one, then please paste the message on that case)

[2018-06-21 07:16] chinitaberrio commented on #697
Here the published message.
[output.txt](https://github.com/jsk-ros-pkg/jsk_visualization/files/2122525/output.txt)

Thanks.

[2018-06-21 07:44] furushchev commented on #697
@chinitaberrio Could you also set `frame_id` of a header for each polygons members and check if it works?

[2018-06-21 07:54] chinitaberrio commented on #697
It worked! thanks!

[2018-06-21 08:55] furushchev commented on #697
@chinitaberrio
Great!
I'll create a pull request to show error on this situation later to let users notice easier.

[2018-06-22 00:51] furushchev commented on #652
It looks this issue was already solved by #662

[2018-06-22 00:52] furushchev commented on #648
`jsk_rviz_plugins` works on kinetic for now. I think it is ok to close this issue.

[2018-06-23 05:14] #697 closed

[2018-06-23 06:01] #648 closed

[2018-06-23 06:03] #652 closed

[2018-07-23 04:56] iory commented on #694
@ClementLeBihan

Please share your package, or test case. I'll debug it.

[2018-08-07 18:33] jorritsmit opened #702 "Melodic/bionic support"
I was wondering if melodic/bionic integration is on the horizon?

[2018-08-08 04:01] k-okada commented on #702
ok, we're start testing on this at https://github.com/jsk-ros-pkg/jsk_visualization/pull/703
currently we need release of following package before jsk_visualization.
[code]

[2018-08-08 05:51] jorritsmit commented on #702
Ok good to hear. I tried this as well and build the packages you mentioned from source. Building jsk_visualization gives opencv errors. Good luck and let me know if you need help!

[2018-08-08 06:09] k-okada commented on #702
can you share your error messages?

--
◉ Kei Okada

2018-08-08 14:51 GMT+09:00 jorritsmit <notifications@github.com>:

[2018-08-08 07:10] jorritsmit commented on #702
actually the only problem is the splitting of opencv highgui into 2 libraries. I made a pull request on jsk_common_msgs, but it has to be done with a lot of the jsk plugins. i don't have time to make the pull requests now, but i can do it tonight if you want?

[2018-08-08 07:10] jorritsmit commented on #702
btw see https://docs.opencv.org/3.1.0/db/dfa/tutorial_transition_guide.html

[2018-08-09 03:09] k-okada commented on #702
sure , pull requests are always welcome

--
◉ Kei Okada

2018-08-08 16:10 GMT+09:00 jorritsmit <notifications@github.com>:

[2018-08-10 09:04] jorritsmit commented on #702
as mentioned in https://github.com/jsk-ros-pkg/jsk_common_msgs/pull/22, there was something so jsk packages succeed on bionic. I'll close the issues since #703 covers this

[2018-08-10 09:04] #702 closed

[2018-08-21 11:13] ClementLeBihan commented on #694
find_package(catkin REQUIRED COMPONENTS
  rviz
  jsk_recognition_msgs
  jsk_topic_tools
  jsk_rviz_plugins
  cv_bridge)

# Use ccache if installed to make it fast to generate object files
find_program(CCACHE_FOUND ccache)
if(CCACHE_FOUND)
  set_property(GLOBAL PROPERTY RULE_LAUNCH_COMPILE ccache)
  set_property(GLOBAL PROPERTY RULE_LAUNCH_LINK ccache)
endif(CCACHE_FOUND)

catkin_package(
    DEPEN

[2018-08-21 11:28] ClementLeBihan commented on #694
<?xml version="1.0"?>
<package>
  <name>TEST</name>
  <version>2.1.3</version>
  <license>TODO</license>

  <buildtool_depend>catkin</buildtool_depend>

  <build_depend>cv_bridge</build_depend>
  <build_depend>jsk_rviz_plugins</build_depend>
  <build_depend>jsk_recognition_msgs</build_depend>
  <build_depend>jsk_recognition_utils</build_depend>
  <build_depend>jsk_topic_tools</build_depend>
  <bui

[2018-08-21 11:31] iory commented on #694
Hmm, Can you share a simple package of your project?

[2018-08-21 11:33] ClementLeBihan commented on #694
Unfortunately, it's professionnal so I can't share any code.

But I found how to solve the lib issue : In the jsk_rviz_pluginsConfig.cmake, I have to change
set(libraries "") to set(libraries "jsk_rviz_plugins") !! line 119

Best,
Clément

[2018-08-21 11:44] iory commented on #694
OK.

This is not good.
In your CMakeLists.txt's target_link_libraries, you should add ```${catkin_LIBRARIES}```.
You should refer ```jsk_interactive_marker``` package because this package is using jsk_rviz_plugins and link it.
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_interactive_markers/jsk_interactive_marker/CMakeLists.txt

[2018-08-21 11:47] iory commented on #694
Also add following code to your CMakeLists.txt

[code]

[2018-08-21 12:36] ClementLeBihan commented on #694
It doesn't work ... I upload a test : https://github.com/ClementLeBihan/rviz_layer

Tell me if you can compile !

Best,
Clément

[2018-08-21 15:00] iory commented on #694
Please try following steps.

[code]

[2018-08-21 15:15] ClementLeBihan commented on #694
It works, that's a solution to compile, but it doesn't solve the problem that when you use the ros-kinetic-jsk-rviz-plugins package and you put  jsk_rviz_plugins in your catkin dependencies in your CMakelist the lib isn't linked...

Do you know why the line 119 of the jsk_rviz_pluginsConfig.cmake is set(libraries "") instead of set(libraries "jsk_rviz_plugins") ?

Best,
Clément

[2018-08-21 15:21] iory commented on #694
From https://github.com/jsk-ros-pkg/jsk_visualization/pull/696 , jsk_rviz_plugins add library to catkin_package.
So you can check the jsk_rviz_pluginsConfig.cmake and you can see set(libraries "jsk_rviz_plugins") in .cmake file.

[2018-08-21 15:34] ClementLeBihan commented on #694
Thank you so much @iory, that's exacly the answer I was looking for :) I'm sorry I didn't see this issue.

BTW, do you know how to add manually (with the path)  libjsk_rviz_plugins.so to the catkin_LIBRARIES in my CMakeList ?

Best,
Clément

[2018-08-21 15:52] iory commented on #694
I send PR to your repository.
https://github.com/ClementLeBihan/rviz_layer/pull/1
You can compile it without source of jsk_rviz_plugins.

[2018-08-22 08:13] iory commented on #694
Your welcome.
We also very interested in your rviz_plugin based on our package and waiting for your PR!

BTW, I am glad if you reply to this issue  https://github.com/jsk-ros-pkg/jsk_visualization/issues/690

[2018-08-22 08:45] ClementLeBihan commented on #690
Hi @iory !

I didn't see you answered me ! Yes I saw it was possible by using Marker but I prefer jsk because you can set LineWith, Color etc from rviz panel !

In fact I changed a little bit the way I express the polygon and now it's a nice convex-hull polygon exactly like the image !

[2018-08-22 08:45] #690 closed

[2018-08-22 10:16] wkentaro commented on #690
@ClementLeBihan Have you changed the rviz plugin of Marker? I think it is better to add feature to  the marker plugin to change color, line width, etc.

[2018-09-28 05:44] knorth55 opened #711 "[jsk_interactive_marker] Melodic build failure"
Related to #710

workspace rosinstall

[code]

[2018-09-28 05:47] knorth55 commented on #711
error log is here. https://drive.google.com/file/d/19lzzsMCRwU9Z3TFPNmsLfY18Ym2jy2om/view?usp=sharing

[2018-10-01 07:00] KazukiHiraizumi opened #712 "ビルドエラー"
catkin_makeが以下のエラーとなります。
[code]
RosはKineticです。

[2018-10-01 07:02] k-okada commented on #712
rワークスペースで
rosdep install --from-paths src --ignore-src
として必要なパッケージをインストールしてください．

ただ，基本的にはコンパイルせずとも
sudo apt-get install ros-kinetic-jsk-rviz-config
で使えるとおもいます．

--
◉ Kei Okada

2018年10月1日(月) 16:00 Kazuki Hiraizumi <notifications@github.com>:

[2018-10-01 22:37] KazukiHiraizumi commented on #712
OverlayTextを使わせて頂きたかったので、以下でインストールできました
[code]
OverlayTextのExampleは以下で起動できました
[code]
ありがとうございました

[2018-10-04 17:58] YoanSallami opened #713 "Crash when using CameraInfo display"
hello,

when using the camera info display, I have this message :
`̀``
rviz: /build/ogre-1.9-mqY1wq/ogre-1.9-1.9.0+dfsg1/OgreMain/include/OgreAxisAlignedBox.h :252 : void Ogre::AxisAlignedBox::setExtents(const Ogre::Vector3&, const Ogre::Vector3&):  l'assertion « (min.x <= max.x && min.y <= max.y && min.z <= max.z) && "The minimum corner of the box must be less than or equal to maximum corner" » a

[2018-10-05 02:04] iory commented on #713
Thank you for your report.

How to install jsk_rviz_plugins? By installing ```sudo apt install ros-kinetic-jsk-rviz-plugins```?

[2018-10-05 02:05] iory commented on #712
@KazukiHiraizumi
問題がなければこちらのissueをcloseお願いします。

[2018-10-05 02:05] k-okada commented on #713
if you're using
`/opt/ros/kinetic/lib/jsk_recognition_utils/static_virtual_camera.py`, you
need valid camera info parameters,
[code]
--
◉ Kei Okada

2018年10月5日(金) 2:58 Yoan Sallami <notifications@github.com>:

[2018-10-05 02:10] #712 closed

[2018-10-05 09:02] iory commented on #713
rviz plugin of ```CameraInfo``` should subscribe valid camera_info.
But crash is not for users. So I'll create PR to this error.

Please download following bag file and rviz file and try following commands.
https://drive.google.com/file/d/1g-6bfkOrJ3pPR8Ge-cD6gKkLYPD7pUav/view?usp=sharing
https://drive.google.com/file/d/1VNMtp9sEnqP0YDyK2JcCRImD48VhiJ_o/view?usp=sharing

[code]

[2018-10-05 09:48] YoanSallami commented on #713
It worked with the ros bag... Si it is not possible to get it worked for uncalibrated cameras ?

[2018-10-06 11:32] iory commented on #713
We can calculate intrinsic parameters from fov.
Please try following code and run.

https://github.com/iory/jsk_recognition/blob/7eb85b2b65de749cd96d6a67ca9e24e305a45051/jsk_perception/node_scripts/image_publisher.py

[code]

![image](https://user-images.githubusercontent.com/4690682/46570905-de87dc80-c9a6-11e8-8ec2-285cb9907883.png)

[2018-10-06 11:55] iory commented on #713
@YoanSallami

You can publish image with valid camera info with following PR.
https://github.com/jsk-ros-pkg/jsk_recognition/pull/2340

[2018-10-12 15:14] awatson3 opened #716 "Need a new Debian release"
The current release is 1 year old (Oct '17).  Please issue a new release from Master for those of us using aptitude.  There are important updates (like #686) that our team would like to see in the Debian package.  Thanks!

[2018-10-26 12:17] knorth55 commented on #711
This is mainly caused change in urdfdom 1.0.0, which is default in Melodic.
@k-okada Do you have any ideas?
https://github.com/ros/urdfdom_headers/blob/1.0.0/urdf_model/include/urdf_model/types.h#L44-L46

[2018-10-28 04:11] k-okada commented on #711
see https://github.com/PR2/pr2_common/pull/272/commits/e1196348068e3bdcb0935142d9bda18a1f40fa8b

[2018-10-31 15:48] tdnet12434 opened #719 "Target visualize failed on kinetic."
Hi, thank you for great visualize tool.
This help me a lot to visualize my swarm robot.
But today i've tried to use target visualize but some time have failed to add it on rviz.
The error is show below

`
rviz: /usr/include/boost/smart_ptr/shared_ptr.hpp:648: typename boost::detail::sp_member_access<T>::type boost::shared_ptr<T>::operator->() const [with T = jsk_rviz_plugins::FacingObject; typenam

[2018-11-01 02:44] iory commented on #719
Thank you for using jsk_visualization and your issue report!

Please also teach me version of ```jsk_rviz_plugins```.

for example
[code]

[2018-11-01 03:13] tdnet12434 commented on #719
The version of `jsk_rviz_plugins` is

`ii  ros-kinetic-jsk-rviz-plugins                                2.1.3-0xenial-20180805-214048-0800                          amd64        The jsk_rviz_plugins package`

Thank you advanced krub.

[2018-11-01 05:30] iory commented on #719
OK.
I create the PR to fix this error.
https://github.com/jsk-ros-pkg/jsk_visualization/pull/720

Could you check the PR by following commands.
[code]

[2018-11-01 08:51] tdnet12434 commented on #719
Thank you! @iory it's worked!
I can close this issue now krub.

[2018-11-01 08:51] #719 closed

[2018-11-06 05:56] knorth55 commented on #711
Closed by #710

[2018-11-06 05:56] #711 closed

[2018-11-28 07:42] norala22 opened #722 "Change size of pictogram"
I am currently trying to use pictograms from FontAwesome in my Rviz visualization.
Is it possible to change the size of the icon/pictogram? I tried all possible fields (including .size) to change the size of the pictogram, but nothing worked. Thanks

[2018-12-17 12:07] phil333 opened #724 "ros-melodic-jsk-rviz availability?"
Hi, I m using your jsk-rviz tools and i was wondering if you are planning to make them available for melodic via sudo apt-get?

[2018-12-17 23:57] k-okada commented on #724
Sure, we’re working on this
https://github.com/jsk-ros-pkg/jsk_recognition/issues/2358#issuecomment-436465484

[2019-01-30 02:04] iory commented on #722
Thanks for your issue report!
Could you let me know your environment?

In my environment
[code]
I can successfully changed size of pictograms.

### size == 1

![rviz-_009](https://user-images.githubusercontent.com/4690682/51953181-bbfe5f80-247e-11e9-9267-8a1cb8543c38.png)

### size == 2

![rviz-_010](https://user-images.githubusercontent.com/4690682/51953184-c0c31380-247e-11e9-8ede-1871e49769c2.pn

[2019-02-11 15:32] christian-rauch commented on #724
@k-okada Any news on this? `jsk_common` has been released to melodic.
This is also blocking `jsk_visualization` from being released to melodic: http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/bionic-travis-jsk-ros-pkg-jsk-recognition-melodic-deb-true-true/19/console

[2019-02-20 03:04] k-okada commented on #724
This has been released -> https://github.com/ros/rosdistro/pull/20334

2019年2月12日(火) 0:32 Christian Rauch <notifications@github.com>:

--
--
◉ Kei Okada

[2019-03-05 16:32] kargarisaac commented on #648
It has a lot of dependencies for kinetic. Every time I add the required package, it needs another one.
Is there any pipeline to do it?

[2019-03-06 04:02] knorth55 commented on #648
@kargarisaac what do you mean?
if you don't want to install a lot of dependencies  again and again, it is better to make docker image for your own use case.

[2019-03-06 04:34] kargarisaac commented on #694
Hi,
When I run ``` rosdep install --from-paths -y -r src``` I get:
[code]
I spent a looooooooot of time to install jsk_rviz_plugins for kinetic but I couldn't. How can I do that?

[2019-03-06 06:42] knorth55 commented on #694
@kargarisaac  `rosdep update` `apt update` `apt install ros-jsk-rviz-plugins`.

[2019-03-06 07:50] kargarisaac commented on #694
Thank you. But When I run ```sudo apt install ros-jsk-rviz-plugins``` I get:
[code]

I have this problem for some other jsk packages too: unable to locate ...

[2019-03-06 07:53] kargarisaac commented on #648
I mean when I clone one package, it needs another one, then another ... . I continued it but it didn't finish ...

[2019-03-06 07:57] knorth55 commented on #648
@kargarisaac  do not use packages from source.
use debian packages.
just type `sudo apt install ros-kinetic-jsk-rviz-plugins`

[2019-03-06 07:58] knorth55 commented on #694
it is typo. type `sudo apt install ros-kinetic-jsk-rviz-plugins`

[2019-03-06 08:32] kargarisaac commented on #694
same reult:
[code]

[2019-03-06 08:36] kargarisaac commented on #694
I installed it many times ago. But I don't remember it. Now that I want to install it I cannot. I want to use [this](https://github.com/CPFL/Autoware/tree/master/ros/src/computing/perception/detection/lidar_detector/packages/lidar_euclidean_cluster_detect) package from Autoware on my system.

[2019-03-06 09:01] knorth55 commented on #694
have you installed `ROS`?
please read this wiki. http://wiki.ros.org/kinetic/Installation/Ubuntu
it seems that your apt does not have current `ROS` package release information.
please try to reconfigure apt package for ROS again.

[code]

[2019-03-06 09:02] knorth55 commented on #694
btw, which OS and OS version are you using?

[2019-03-06 09:11] kargarisaac commented on #694
@knorth55
Thanks a lot. It works. I use ubuntu 16.04.

[2019-03-27 06:12] iory commented on #724
Close because this issue seems to be solved.

[2019-03-27 06:12] #724 closed

[2019-04-03 11:46] christian-rauch opened #727 "OverlayTextDisplay for std_msgs/String"
Since the `OverlayTextDisplay` already has the capability to render text with specific properties to override the message properties (`Overtake Position Properties`, `Overtake Color Properties`), it would be useful if it would accept messages of type `std_msgs/String`. I.e. only relying on the raw unformatted text in the message and do the user-specific rendering in the plugin.

[2019-04-15 08:21] jinfagang opened #734 "Text on 3D bounding box"
Redirect from this issue: https://github.com/jsk-ros-pkg/jsk_recognition/issues/2407

I want draw some text on bounding box like this:
![image](https://user-images.githubusercontent.com/21303438/56117368-81df2d00-5f9a-11e9-8fad-602cd87fe56e.png)

Is this avaiable in jsk? Someone kindly tell me how to add it? I can not found such a field to draw text on bounding box

[2019-04-15 09:58] 708yamaguchi commented on #734
I have not tested yet, but you can use `jsk_rviz_plugins/Pictogram` to show the string popups.

The document is here:
https://jsk-visualization.readthedocs.io/en/latest/jsk_rviz_plugins/plugins/pictogram.html

[2019-04-15 11:40] jinfagang commented on #734
@708yamaguchi Why not just add a field in BoundingBoxAarray?

[2019-04-15 12:45] 708yamaguchi commented on #734
I think that separating `BoundingBoxArray` and `Pictogram` is better.

This is because it is very time-consuming to add the pictogram field  to many msgs for visualization. (e.g. there are `BoundingBox`, `Marker`, `Polygon`, `Pose` and so on)

[2019-04-15 14:10] knorth55 commented on #734
@jinfagang if you have suggestion, please make PR. let's discuss then.

[2019-04-19 09:30] YutoUchimi commented on #716
2.1.5 is already released, so close this issue.
indigo: https://github.com/ros/rosdistro/pull/20332
kinetic: https://github.com/ros/rosdistro/pull/20333
melodic: https://github.com/ros/rosdistro/pull/20334

[2019-04-19 09:30] #716 closed

[2019-05-09 14:46] stribor14 opened #738 "RViz polygon blinking"
Hello, I'm using the package version from Ubuntu 16.04 PPA (version 2.1.5-0xenial-20190320-184807-0800)

I'm trying to visualize the area which laser scan is covering with a polygon, and I'm using jsk polygon array with single polygon because your rviz plugin allows polygon to be filled with color.

When "only border" is selected, visualization behaves normally:

![image](https://user-images.githu

[2019-05-09 15:04] knorth55 commented on #738
can you give us rosbag file to reproduce this issue or can you tell us how to reproduce your issue?

[2019-05-13 09:44] stribor14 commented on #738
Sorry, I changed the code, but the node was really simple. I've taken readings from the laser_scan topic of nav350 simulated in the Gazebo, then I've created a polygon in which I inserted all of the points laser has seen (range * sin/cos (angle)), sorted by angle. Polygons header is the same as a laser_scan header because I wanted
same frame_id and timestamp.

[2019-05-13 12:33] knorth55 commented on #738
I have no idea because we cannot reproduce your problem in our environment.
but it seems that your sorting might be incorrect.

[2019-06-21 09:21] lawrencekiba commented on #9
Hi,

May I know how do you fix the error? I have similar rviz::Display error.

[2019-06-21 14:21] knorth55 commented on #9
Which distro are you using? I confirm similar error on Indigo.
And now I fixed a bug on Indigo and opened a PR.
https://github.com/jsk-ros-pkg/jsk_visualization/pull/739

[2019-06-23 08:14] Kai1991 opened #742 "Segmentation fault when add topic in Rviz on kinetic"
[code]

[2019-06-23 10:40] knorth55 commented on #742
It seems your rviz is crashing because of `librostime.so`.
maybe it is related to this issue https://github.com/ros/geometry/issues/176#issuecomment-423693686
can you try `sudo apt-get update; sudo apt-get upgrade` and run `rviz` again?

[2019-06-24 04:58] Kai1991 commented on #742
thanks .

[2019-06-24 04:58] #742 closed

[2019-07-15 21:15] darkdragon-001 opened #743 "[jsk_rviz_plugins] video_capture start via topic"
I have a big number of rosbags from which I want to record video.
So I setup rviz and then want to record a video for each bag file.
It would help a lot, if I could set filename and trigger start/stop with a topic. Is this possible in addition to the manual text field and check box?

[2019-07-22 14:55] darkdragon-001 opened #744 "[jsk_rviz_plugins/video_capture] Set video size"
Add option to specify video dimensions and resize window accordingly.

[2019-07-22 14:56] darkdragon-001 opened #745 "[jsk_rviz_plugins/video_capture] Fix frame rate"
Some frames seem to be dropped and thus the video plays much faster than how reality happened.

[2019-07-22 14:59] knorth55 commented on #745
is this feature request?
are you planning to add this feature?

[2019-07-22 14:59] knorth55 commented on #744
is this feature request?
are you planning to add this feature?

[2019-07-23 12:17] darkdragon-001 commented on #745
@knorth55 It's a bug report. Unfortunately, I don't have time at the moment to look into it.

[2019-07-23 12:17] darkdragon-001 commented on #744
@knorth55 It's a feature request. Unfortunately, I don't have time at the moment to look into it.

[2019-08-27 09:31] YutoUchimi commented on #738
Although polygon in rviz does not blink, it is filled wrongly in some cases.

### case 1
[code]
![polygon_wrongly_filled1](https://user-images.githubusercontent.com/22876283/63759186-0900c200-c8f8-11e9-8c65-e0624914616a.png)
![polygon_wrongly_filled2](https://user-images.githubusercontent.com/22876283/63759187-0900c200-c8f8-11e9-9f88-c98fb5bbe2e4.png)

### case 2
[code]
![polygon_wrongly_filled3](

[2019-08-27 12:28] stribor14 commented on #738
This is what probably also happened to me, but it looked like blinking because polygon would change slightly change every iteration, so those mistakes jumped around

[2019-09-03 10:16] YutoUchimi commented on #745
In current implementation, a captured image is written to output video at every rendering loop on rviz.
So unless rviz rendering fps luckily matches video fps you set, you will see fast/slow play on recorded video, though output video fps is accurately set by this plugin.

A possible solution is to create ros::WallTimer and write images to video in the callback.
It may improve the frame rate a lit

[2019-09-03 10:25] darkdragon-001 commented on #745
@YutoUchimi Thanks for your insights on the current implementation.

In the end, I used a screencast tool with a lot of manual work. I had a folder of about 200 rosbags which I wanted to compare. They need the exact same resolution, perspective and frame rate. Doing this manually was white time-consuming.
Since I use rosbags, I don't need *real-time*, but the *same* speed for all of them.

For nor

[2020-01-16 10:07] xmfcx opened #760 "Plotter2D cannot display more than 5 digits/characters"
Plotter2D cannot display more than 5 digits/characters including the dot.

No matter which control I tweak, biggest number it can show is 999.9 and doesn't let me change size of the number in the center.

![Screenshot_2020-01-16_13-00-27](https://user-images.githubusercontent.com/10751153/72515534-227fb780-3861-11ea-8cc0-5d6978d7aa8e.png)

[2020-01-21 05:45] CCodie opened #761 "BoundingBoxArray : How can I clear outdated ones on Rviz ?"
Hi developers ! Always thank you for your hard work.

I want to draw some bounding boxes on Rviz
and try to use `jsk_recognition_msgs::BoundingBoxArray`.

But here's some problem that outdated boxes doesn't disappear like this picture.
(Only boxes with a text are valid)
![image](https://user-images.githubusercontent.com/37093857/72777781-27c27500-3c5a-11ea-9e5f-6a9dfab00472.png)

Even though I set

[2020-02-12 05:43] #738 closed

[2020-04-02 13:22] knorth55 opened #764 "jsk_rviz_plugins build failure"
http://build.ros.org/job/Mbin_uB64__jsk_rviz_plugins__ubuntu_bionic_amd64__binary/44/

[code]

[2020-04-13 00:33] #744 closed

[2020-04-15 10:46] #764 closed

[2020-04-15 10:47] knorth55 commented on #764
build fixed http://build.ros.org/job/Mbin_uB64__jsk_rviz_plugins__ubuntu_bionic_amd64__binary/61/

[2020-05-25 08:44] reinzor opened #772 "Noetic release"
Will this package be released for Noetic anytime soon :)?

[2020-05-26 03:44] knorth55 commented on #772
we are working on it, but there are several packages which `jsk_visualization` depends on but not released in Noetic.
It does not seem that the release on Noetic is soon (I mean not this week).
If you really want to use this now on Noetic, you need to solve dependency by yourself (it would be really troublesome).

[2020-06-21 17:12] ana-GT commented on #772
Hi, our team also uses jsk_visualization (specifically jsk_rviz_plugins), and we are very much looking forward to see it released in noetic. I recently upgraded to 20.04 and am in the process of testing our tools. Is there any update on the release of this package in noetic anytime soon? (writing after reading the message above mentioning you guys were already working on it some weeks ago).

Thank

[2020-06-30 03:24] Depblu opened #777 "About nonconvex polygon color fill"
Hi,
I display the following polygons in Rviz：
![image](https://user-images.githubusercontent.com/6194119/86079407-ff6d5b00-bac2-11ea-89c3-32c3c86bc4e6.png)
check 'only border', as below:
![image](https://user-images.githubusercontent.com/6194119/86079442-12802b00-bac3-11ea-82f3-39cab0f74810.png)
The filling corlor border is not consistent with the 'only border'.

Rviz version is 1.13.7(melodic).

[2020-09-08 13:24] paulerikf opened #779 "Will jsk_visualization be ported to ROS2?"
Hey there, hope this is an o.k. place to ask this... any word on whether there will be a version of jsk visualization that will work with rviz2 / ros2?

Hard to imagine life without it <3

[2020-09-09 05:31] k-okada commented on #779
Currently we have no plan/resource to port to ROS2, but volunteers are
welcome
--
◉ Kei Okada

2020年9月8日(火) 22:24 Paul <notifications@github.com>:

[2020-09-22 18:30] fuhuan26 opened #781 "Can "jsk_rviz_plugin/PieChart' change rotation direction?"
Hi,
The default rotation direction for pie chart is counterclockwise. I am wondering if there is a way to change it to clockwise.
As I would like to use it to mimic vehicle speedometer, which is more intuitive in clockwise.
![image](https://user-images.githubusercontent.com/50088717/93922586-fc02fd80-fcc6-11ea-81db-401d68a535fc.png)
![image](https://user-images.githubusercontent.com/50088717/93922

[2020-09-23 01:27] knorth55 commented on #781
this is because we develop this plugin for decreasing values such as battery capacity or voltage.
but I think it is good to add new option like `rotate direction` for this rviz plugin.
We welcome for your contribution, and we look forward to seeing a PR for the new feature.

[2020-09-23 16:42] fuhuan26 commented on #781
Thank you for your reply, @knorth55. Could you please point me which file is for the current piechart implementation? I am happy to take a look and work on adding the direction selection feature. Thanks!

[2020-09-23 17:19] knorth55 commented on #781
@fuhuan26 how about this option #782 ?

[2020-09-24 01:35] fuhuan26 commented on #781
@knorth55 That looks great!  Really appreciate your prompt help! One last question, I installed the package using `sudo apt install ros-melodic-jsk-rviz-plugins`  And I was not able to locate the pie_chart_display.cpp file and apply the change.

Can you please show me where to find that file and then how to recompile the package? :)

Thanks a lot!

[2020-09-24 06:59] pazeshun commented on #781
@fuhuan26 You can install `jsk_rviz_plugins` from source:
[code]
FYI
https://answers.ros.org/question/252478/how-to-build-a-package-from-source-on-ubuntu-mate-1604-lts-and-ros-kinetic/
https://catkin-tools.readthedocs.io/en/latest/verbs/catkin_build.html

[2020-09-24 17:19] fuhuan26 commented on #781
@pazeshun That solved my problem. The new pie chart looks great! Thank you so much for your help!  どうもありがとうございました!

[2020-09-24 17:19] #781 closed

[2020-09-28 14:22] PeterMitrano commented on #772
From what I can see, the only missing dependencies are
 - [ ] jsk_recognition
 - [ ] view_controller_msgs

[2020-10-13 22:21] fuhuan26 commented on #779
Yeah, it will be great to have rviz2 compatible jsk_visualizaiton. The tool is so handy!

[2020-10-24 14:23] knorth55 opened #785 "We should warn "PoseArray rviz plugin is deprecated in Kinetic, Melodic and Noetic""
`PoseArray` rviz plugin is added in `jsk_visualization` for `indigo` and `hyrdo` devel because of upstream late response.
https://github.com/jsk-ros-pkg/jsk_visualization/pull/349

However, the situation got changed, and we can use `pose array` default plugin in Kinetic, Melodic and Noetic...
Maybe we should warn that JSK version is deprecated, and switch to use `rviz` default plugin.

PR to rviz

[2020-10-24 15:24] pazeshun commented on #785
Currently, rviz dies when we load `PoseArray` in `jsk_rviz_plugins` subscribing messages whose elements are all zero.
You can check it by:
[code]
`poses_causing_rviz_death.bag`: https://drive.google.com/file/d/1td4nojPODCbxojYSeR7w19T3aRxSg389/view?usp=sharing
`poses_causing_rviz_death.rviz`: https://gist.github.com/pazeshun/beeb9415db2611561644f5f1f6400d82

[2020-10-24 23:33] #785 closed

[2020-10-27 07:09] knorth55 commented on #772
https://github.com/ros/rosdistro/pull/27143
Noetic release is merged.

[2020-10-28 20:43] #772 closed

[2020-11-03 09:13] knorth55 opened #787 "jsk_visualization readthedoc is not updated since 2018.12.18"
jsk_visualization readthedoc is not updated sincd 2018.12.18
https://jsk-visualization.readthedocs.io/en/latest/
https://readthedocs.org/projects/jsk-visualization/builds/

related: https://github.com/jsk-ros-pkg/jsk_docs/issues/25

[2020-11-03 09:46] k-okada commented on #787
@garaemon is the owner of https://readthedocs.org/projects/jsk-visualization/ and we could not configure that. @garaemon, Could you add me as maintainer? or remove the project?

[2020-11-09 02:14] yanbinghe commented on #9
I solved it by manually removing the $HOME/.rviz directory

[2020-11-17 05:52] knorth55 commented on #787
@garaemon hi, I also want to give us permission for jsk-visualization readthedocs project.

[2020-11-24 13:53] garaemon commented on #787
Sorry for my late response.

I've just removed the jsk-visualization project from readthedocs.
Could you create a new version of jsk-visualization on readthedocs?

[2020-11-25 04:53] k-okada commented on #787
@garaemon thank you!! created enw one https://jsk-visualization.readthedocs.io/en/latest/index.html

[2020-11-25 09:50] #787 closed

[2021-01-12 12:47] dymons opened #799 "RViz crashes when trying to set the "only border" parameter to false for the message jsk_rviz_plugin/PolygonArray"
Hi. The RViz config was configured for rendering using the _jsk_rviz_plugin/PolygonArray_ message on Ubuntu 18.04 ROS Melodic. When switching to Ubuntu 20.04 ROS Noetic RViz started to crash with the message:
[code]
Experimentally, I found that this happens when I try to set the **only border** parameter to **false** for the _jsk_rviz_plugin/PolygonArray_ message. Could you tell me how to solve th

[2021-01-13 04:57] Naoki-Hiraoka opened #800 "[jsk_interactive_marker] transformable_markers_client.py fails without chainer"
When I executed `transformable_markers_client.py` through `roslaunch jsk_interactive_markersample_transformable_markers_client.launch` on `melodic`, I got an error.

[code]

I am not `chainer` user and `chainer` is not automatically installed, so `chainer` is not installed on my PC now.

I am not familiar with installation procedure of `chainer`, and simple `sudo pip install chainer` did not worke

[2021-01-13 05:21] Naoki-Hiraoka commented on #800
I think `transformable_markers_client.py` is not a chainer specific software so `transformable_markers_client.py` should not depend on chainer.(?)

[2021-01-13 05:54] pazeshun commented on #800
Currently, `chainer` should be installed by `sudo pip install chainer<7.0.0` on Python2.
See https://github.com/chainer/chainer/issues/8545 for more details.
However, you may not be able to install even with this command because your error seems caused by network problem.
Your network or pip server may have some temporary problem.

[2021-01-13 06:10] pazeshun commented on #800
This is a complicated problem.
`transformable_markers_client.py` only uses `jsk_recognition_utils.color.labelcolormap`:
https://github.com/jsk-ros-pkg/jsk_visualization/blob/e308bd79160efa0ccc4089076e28fb4bd1b0146e/jsk_interactive_markers/jsk_interactive_marker/scripts/transformable_markers_client.py#L23
https://github.com/jsk-ros-pkg/jsk_visualization/blob/e308bd79160efa0ccc4089076e28fb4bd1b0146e

[2021-01-13 07:16] knorth55 commented on #800
@Naoki-Hiraoka can you try this PR? https://github.com/jsk-ros-pkg/jsk_recognition/pull/2565

[2021-01-13 07:27] Naoki-Hiraoka commented on #800
@pazeshun @knorth55
Thank you for your help!

With https://github.com/jsk-ros-pkg/jsk_recognition/pull/2565 , `transformable_markers_client.py` runs successfully without `chainer`.
[code]

[2021-01-13 07:37] Naoki-Hiraoka commented on #800
`sudo pip install chainer<7.0.0` does not worked. My network or pip server may have some temporary problem as you said.
(Since I can use `transformable_markers_client.py` with https://github.com/jsk-ros-pkg/jsk_recognition/pull/2565 now, this has become not an urgent problem for me now.)
[code]

[2021-01-13 07:44] pazeshun commented on #800
@knorth55 Thank you for your nice workaround!
@Naoki-Hiraoka Thank you for testing.
I can download and install `chainer==6.7.0` now, so pip server should be OK.
Your environment probably includes something wrong, I think.
[code]

[2021-01-13 08:40] Naoki-Hiraoka commented on #800
@pazeshun Thank you for information.

My environment
[code]
Cannot upgrade pip by default.
[code]

`--default-timeout=100` option solved this problem.
https://stackoverflow.com/questions/43298872/how-to-solve-readtimeouterror-httpsconnectionpoolhost-pypi-python-org-port
[code]

In additon to `chainer`, I found that `jsk_recognition_utils/chainermodels` also depends on `fcn`.

[2021-01-22 13:56] xqrkushnir opened #801 "[jsk_rviz_plugins/overlay_text_display.cpp] Don't color the text's shadow"
The colour of the shadow gets affected by HTML tags, resulting in a blurry-appealing text.

As example, passing an `OverlayText()` message with `text` field being `'<span style="color: gray;">TEST_STRING</span>'` will colour a specific part of the overlay in gray, but would also paint the shadow. See image bellow:
![image](https://user-images.githubusercontent.com/51158453/105499447-28a54100-5cca-

[2021-01-22 14:09] xqrkushnir commented on #801
I suggest making this regex pattern check: `color.+?;`.
Would strip out only `color: #FFFFFF;` out of something like `<span style="color: #FFFFFF;">test</span>`

[2021-01-22 14:50] knorth55 commented on #801
can you check this new feature?
https://github.com/jsk-ros-pkg/jsk_visualization/pull/775

[2021-01-22 14:58] xqrkushnir commented on #801
Sure, I know it. But I don't intend on using modified colours to make a menu-like overlay. Rather a more graphical visualization of static text, where some parts of the text are different depending on a variable.

[2021-01-23 06:02] knorth55 commented on #801
it seems you already know how to deal with the issue, so can you make a PR?
we have not enough time to support all the feature request.
we can check and merge it.

[2021-01-23 10:05] xqrkushnir commented on #801
@knorth55 alright! Will be happy to do it. Could you please tell me how can I test my code? :blush: I can't figure out where to put freshly modified source files to see the change in RViz. My RViz was installed with `sudo apt install ros-melodic-desktop-full`, if that helps.

[2021-01-23 13:37] knorth55 commented on #801
@xqrkushnir actually we don't have test code for these visualization tools, just building and several small tests.
If you make a PR, we can test it on our machine and merge it.

[2021-02-04 08:07] #801 closed

[2021-03-14 16:02] MiguelDRPina opened #804 "Panel instead as a Display"
Hello!
I have been looking into your plugins and I am wondering how would I create a panel/GUI that could be added as a new Display instead of having to go to 'Add Panel' (something like Motion Planning from moveit).

[2021-03-17 09:59] arjunskumar commented on #779
any updates on this?

[2021-03-17 23:53] awesomebytes opened #805 "readthedocs.io links broken"
Hello, I just tried to access:

https://jsk-docs.readthedocs.io/en/latest/jsk_visualization/doc/jsk_rviz_plugins

https://jsk-docs.readthedocs.io/en/latest/jsk_visualization/doc/jsk_rqt_plugins

And they are both showing:
[code]

Other pages linked from the main one (jsk-visualization.readthedocs.org/en/latest/) seem to work, though.

[2021-03-17 23:56] awesomebytes commented on #805
Quick update:

I found that:

https://jsk-visualization.readthedocs.io/en/latest/jsk_rviz_plugins/index.html

https://jsk-visualization.readthedocs.io/en/latest/jsk_rqt_plugins/index.html

(Found the links from https://jsk-visualization.readthedocs.io/en/latest/)

Do work!

[2021-03-19 10:23] #805 closed

[2021-04-13 08:15] k-okada opened #809 "chainer などはどうインストールしていますか？"
@708yamaguchi によると，chianer==6.7.0 -> cupy-cuda101==6.7.0 となっているけど，cudaの10.1に依存しているけど，普通に入るcudaは11などなので，インストールがむづかしいことになっている。

どうしていますか？ @knorth55

[2021-04-13 08:33] knorth55 commented on #809
`sudo pip install cupy` すればどのCUDAでもインストール時にビルドされます

[2021-04-13 08:34] knorth55 commented on #809
cupyはおそらくビルドできると思います
cupy-cuda111とかってないんですかね

[2021-04-13 09:13] 708yamaguchi commented on #809
ありがとうございます、理解できてきました。
以下、自分メモです。

- `pip install cupy-cudaxxx`
  cudaxxxに対応しているビルド済のcupyをインストールする
- `pip install cupy`
  自分のPCにインストールされているcudaバージョンに対応するように、cupyのソースをダウンロードして自前でビルドする

前者は楽な一方、インストールしたいcupyのバージョンによっては対応しているcudaのバージョンに限りがある
後者はビルドに時間がかかって動作の保証もないが、好きなcudaのバージョンに合わせたcupyがインストールできる

python2.xではchainer==6.7.0を使う必要があるが、これに対応しているcupy==6.7.0を使おうとすると、cupy-cudaは101までしか対応していない。
最近のcudaは11.0以上

[2021-04-21 04:07] adivardi opened #812 "python3-urlgrabber does not exist in Ubuntu and missing urllib"
Hello,
I have 2 related issues:

1. It seems the package `jsk_rqt_pkugins` has a non-existing dependency. For python3, it specifies `python3-urlgrabber`. However, this package does not exist in Ubuntu. For Ubuntu 18.04, it is named `python-urlgrabber` for both python2 and python3. In Ubuntu 20.04 it does not exist at all.
In any case, I could not find where this dependency is even used, so maybe s

[2021-06-29 12:05] orzechow opened #815 "Links in Readme are outdated"
First of all: Thanks for the nice visualization tools! :)

Small issue: The gallery links in the readme are outdated.

E.g. instead of
https://jsk-docs.readthedocs.io/en/latest/jsk_visualization/doc/jsk_rviz_plugins
the docs are here:
https://jsk-visualization.readthedocs.io/en/latest/jsk_rviz_plugins/index.html

[2021-06-29 15:37] knorth55 commented on #815
@orzechow thank you. I update the readme #816

[2021-06-29 23:03] #815 closed

[2021-07-21 03:25] KenYN commented on #799
What's the latest on this issue? It's a real showstopper for me. "Only border" setting doesn't seem to make any difference, though.

[2021-07-21 07:24] knorth55 commented on #799
can you investigate more detailed information?
we do not have enought resource to investigate this issue on noetic.

[2021-08-04 08:45] maximilianwulf opened #819 "RVIZ display are not loaded properly"
Hi,

when trying to enable any RVIZ display I get the following error:

[code]

I install the plugins through Debian on noetic.

[2021-08-04 11:40] maximilianwulf commented on #819
Hi @knorth55, yes:

[code]

[2021-08-04 13:09] knorth55 commented on #819
can you find libpcl_visualization.so in your computer?

2021年8月4日(水) 20:40 Maximilian Wulf ***@***.***>:

[2021-08-04 13:57] maximilianwulf commented on #819
Yes, that is also available:

[code]

[2021-08-05 05:28] knorth55 commented on #819
I tried with `osrf/ros:noetic-desktop-full` docker and installed `ros-noetic-jsk-rviz-plugins`, but I could not reproduce your error.
can you reproduce your error in dockerfile?

in my docker file, `libpcl_visualization` is found.

[code]

[2021-08-05 05:37] knorth55 commented on #799
I submit a PR #820 to solve this issue.
can anyone check this PR?

[2021-08-05 19:39] maximilianwulf commented on #819
Thank you very much for your answer, on my system `libpcl_visualization` is missing:

[code]

[2021-08-05 19:43] maximilianwulf commented on #819
I installed the package manually from `https://ubuntu.pkgs.org/20.04/ubuntu-universe-amd64/libpcl-visualization1.10_1.10.0+dfsg-5ubuntu1_amd64.deb.html` with

`sudo dpkg -i libpcl-visualization1.10_1.10.0+dfsg-5ubuntu1_amd64.deb`

which solved the issue. Thank you very much for the help, much appreciated.

[2021-08-05 19:43] #819 closed

[2021-08-06 06:05] DasSchilli opened #821 "CameraInfo | use image topic"
Hello,
thank you for these ingenious plugins. I have a question regarding the CameraInfo DisplayType. As soon as I select an image of type sensor_msgs/Image (image::encodingsMONO16), the program crashes. Would it be possible to support more formats except RGB or is this not possible?

[2021-08-06 11:23] knorth55 commented on #821
yes it is possible, but we do not have enough resource.
we want you to change the following codes and make a PR if possible.
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_rviz_plugins/src/camera_info_display.cpp

[2021-08-11 11:39] DasSchilli commented on #821
ok, now I can select an image with an image::encodings::TYPE_16UC1, but it crashes because of the methods drawImageTexture(). Sorry I am new to openCV and cannot understand what happens exactly in this method.

[2021-08-11 12:58] knorth55 commented on #821
`image_` is considered as `RGB8`, so you need to change cv_ptr from `16UC1` to `RGB8` before https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_rviz_plugins/src/camera_info_display.cpp#L411.

how you can do it is first change it from `16UC1` to `8UC1`, and then change it to `RGB8`.
something like these.

[code]

[2021-09-13 09:51] BaltashovIlia opened #826 "Warning: control reaches end of non-void function [-Wreturn-type]"
Hi,

I just compiled jsk_visualization with GCC 9.3.0 and -Wall enabled, and found that many functions do not have a return statement:

- https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_interactive_markers/jsk_interactive_marker/src/bounding_box_marker.cpp#L76
- https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_interactive_markers/jsk_interactive_marker/include/jsk_

[2021-09-15 13:50] #799 closed

[2021-09-21 08:11] WiNet-Lab-IIT-Hyderabad opened #828 "Error: The plugin for class 'jsk_rviz_plugin/BoundingBoxArray' failed to load."
BoundingBoxArray
The class required for this display, 'jsk_rviz_plugin/BoundingBoxArray', could not be loaded.
Error:
Failed to load library /opt/ros/melodic/lib//libjsk_rviz_plugins.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS macro in the library code, and that names are consistent between this macro and your XML. Error string: Could not load library (Poco exception = /opt/ros/m

[2021-09-22 01:38] k-okada commented on #828
Thank you for report. Could you try `roslaunch jsk_rviz_plugins boundingbox_sample.launch`? If this not working, may be there are some mismatch on library versions. Try `sudo apt update` and `sudo apt dist-upgrade`
c.f. https://answers.ros.org/question/194341/rviz-motion_planning-error-failed-to-load-library/, https://answers.ros.org/question/200885/could-not-load-library-after-latest-ros-updates/

[2021-09-22 05:47] WiNet-Lab-IIT-Hyderabad commented on #828
Still getting same error:
 roslaunch jsk_rviz_plugins boundingbox_sample.launch
... logging to /home/bhaskar/.ros/log/6abb0d24-1aaf-11ec-b327-ac1f6b874df7/roslaunch-bhaskar-12313.log
Checking log directory for disk usage. This may take a while.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://bhaskar:40249/

SUMMARY
========

PARAMETERS

[2021-09-22 23:17] sktometometo commented on #828
@WiNet-Lab-IIT-Hyderabad
[code]
This looks like that python3 node try to load python2 version of tf2_ros. Maybe you used other python binary other than system python with pyenv or somthing like that. Pleaes check your python environment.

[2021-10-04 14:28] ClementLeBihan opened #832 "Export header in devel/include"
Hi,

I'm trying to use jsk_rviz_plugins objects in an other package, but headers are not found.

To reproduce the error, pull jsk_visualization repo in an empty catkin workspace, launch catkin_make and checkout in devel/include/jsk_rviz_plugins, there is no bounding_box_display_common.h for example.

If I want to use these header from an other package (#include <jsk_rviz_plugins/bounding_box_displ

[2021-10-05 05:08] k-okada commented on #832
@ClementLeBihan

can you try
[code]
???

[2021-10-05 09:57] ClementLeBihan commented on #832
Hi @k-okada !

I tryied but it doesn't work. Did it worked on your side ?

Best,
Clément

[2021-10-05 10:26] k-okada commented on #832
no, could you share your package ? or an  example package to reproduce your
problem? I do not want to create sample code from scratch...

--
◉ Kei Okada

2021年10月5日(火) 18:59 ClementLeBihan ***@***.***>:

[2021-10-05 11:23] ClementLeBihan commented on #832
You don't necessary need to create a package, just execute this :
`mkdir -p catkin_ws/src
cd catkin_ws/src/
git clone https://github.com/jsk-ros-pkg/jsk_visualization.git
cd ../
catkin_make`

Then checkout in devel/include/jsk_rviz_plugins, you won't see bounding_box_display_common.h for example ...

[2021-10-05 11:40] k-okada commented on #832
That’s expected and I believe there are CMake magic to handle that. So I’d
like to check your example.

2021年10月5日(火) 20:24 ClementLeBihan ***@***.***>:

--
--
◉ Kei Okada

[2021-10-05 11:46] ClementLeBihan commented on #832
Here is an example with a test package :
[code]
Use this hello world code :
[code]

and uncomment `add_executable(${PROJECT_NAME}_node src/test_node.cpp)` in CMakeLists.

When catkin_make is executed, you'll have `fatal error: jsk_rviz_plugins/bounding_box_display_common.h: No such file or directory`

[2021-10-05 12:29] knorth55 commented on #832
it seems `devel` does not work well with `src/*.h` style + `catkin_package INCLUDE_DIRS`, but `install` probably works.
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/jsk_rviz_plugins/CMakeLists.txt#L237-L240

How about building the workspace with install like `catkin config --install`? or using released `jsk_rviz_plugins`?

[code]

Anyway, we should make `jsk_rviz_plugins/include/js

[2021-10-05 14:06] ClementLeBihan commented on #832
Yes I know release package put the header in include directory, but I wanted to make it works by using source package in catkin workspace.

Does'nt seems to work with `catkin config --install` neither.

[2021-10-05 14:39] knorth55 commented on #832
[code]

it works for me.

[code]

[2021-10-06 08:56] #832 closed

[2021-10-06 09:38] knorth55 commented on #832
oh, i just checked the header file in `install` and didn't check the qt build.
#833 looks quite interesting such as `-fPIC` flag...

[2021-11-03 15:23] ajinkyakhoche opened #834 "Error transforming pose from frame 'lidar' to frame 'map'"
I'm extracting a BoundingBoxArray() by running a 3d object detector on a point cloud. The boxes are visualized correctly when the rviz frame is set to 'lidar' (i.e. local frame). But when i select the global/fixed frame (called 'map'), rviz gives error and I don't see anything visualized. Why? The TF tree is correct (i.e. transform between 'map' and 'lidar' exists).  Any help would be appreciated.

[2021-11-04 01:19] k-okada commented on #834
@ajinkyakhoche thanks for report, could you provide more information on how to reproduce your problem?
ROS package with launch file, rviz config file, and node to publish frames are fine.

[2021-11-04 08:21] k-okada commented on #826
@BaltashovIlia thanks for report, could add return statement to these code and send  us PR ?

[2021-11-04 18:45] ajinkyakhoche commented on #834
Please find link to folder [jsk_visualization_issue_834](https://kth-my.sharepoint.com/:f:/g/personal/khoche_ug_kth_se/Ek8nuxqhDKZChdgCNcRFFx0Bq6Kf243RUj377jBCx5IX8Q?e=J6drgV)

Let me know if you can't access it. I've uploaded a rosbag with lidar point cloud (/lidar_top), bounding boxes (/pp_boxes) and /tf. I've also uploaded the rviz conf and a pdf showing tf frames.

Problem occurs when i change

[2021-11-05 03:13] k-okada commented on #834
@ajinkyakhoche thank you for nice example. I think the root cause is inconsistent time stamp between `header` and `boxes` . The time in  header and tf seems consistent, but boxes is not. Could you check your node to publish the bounding boxes? How do they add timestamp?
[code]
One solution is to modify messages
[code]
Subscribing `pp_bboxes_fix` and change Fixed frame to `map` seems ok.

Another s

[2021-11-08 18:35] #834 closed

[2021-11-16 08:44] devemin opened #837 "Resource not found: jaxon_ros_bridge (Maybe about: trans_system repository?)"
Dear jsk,

こんにちは。日本語でひとつご報告を、失礼致します。

先日、こちらのページにある
「moveit_msgs/DisplayRobotStateを利用してrviz上にロボットを表示させる」
https://github.com/jsk-ros-pkg/jsk_visualization/blob/master/doc/jsk_interactive_marker/display_robot_state.md
を試してみようと思ったのですが、

となり、詰まってしまいました。

どうやら jaxon_ros_bridge は、 trans_system リポジトリが使えない事に起因する？かもしれないとのことで、

私はROS 初心者で、DisplayRobotState を単に一度試してみたいだけの状況ではありましたが、
お手すきの際に、最初のページに jaxon_ros

[2021-11-17 07:22] sktometometo commented on #837
https://github.com/jsk-ros-pkg/jsk_visualization/pull/838
このPull RequestでPR2で動くようになるかと思います。

このサンプルで動かしているスクリプトは、JSKでロボットを動かす際に使用しているEuslispでロボットの行動をプランニングした際に、プランニング結果をRViz上に、実機の現在の状態とは関係なく可視化するためのものです。
@devemin さんはご自身のプランニングソフトウェアを開発されていらっしゃると思うので、ご自身のソフトウェアから動作させる前のプランニング結果の確認として `moveit_msgs/DisplayRobotState` をpublishされるような使い方になると思いますので、こちらのデモは一つの `moveit_msgs/DisplayRobotState` の使用例とお考えいただけれ

[2021-11-17 07:57] devemin commented on #837
@sktometometo 様
サンプル、とても助かります！速い…！
moveit_msgs/DisplayRobotState についても理解しました。
帰宅後、試してみますね。本当にありがとうございます！

[2021-11-18 15:50] #837 closed

[2021-11-24 09:49] OmerKonan opened #839 "change colur of PieCart with code"
Hello, I want to use piechart as a warning info and I want to change color based on input value. Is there a way to change the color using my code?

[2021-11-24 10:02] #839 closed

[2021-11-24 10:47] shmpwk commented on #839
The easiest way is to change the piechart color on rviz manually and save the config.
e.g. According to the  [piechart doc](https://jsk-visualization.readthedocs.io/en/latest/jsk_rviz_plugins/plugins/pie_chart.html?highlight=piechart), we have sample code.
`roslaunch jsk_rviz_plugins overlay_sample.launch` shows below by default.

![Screenshot from 2021-11-24 19-40-18](https://user-images.githubus

[2021-11-24 11:14] shmpwk commented on #839
How about enabling `auto color change`?

[2021-11-24 13:04] OmerKonan commented on #839
I found it but I can not set threshold to change color. Also I have 3 different situation so `auto color change` enabling helps but not exactly solves my problem. Thank you

[2021-11-25 03:09] shmpwk commented on #839
Like this ? https://github.com/jsk-ros-pkg/jsk_visualization/pull/840

[2021-11-25 05:47] OmerKonan commented on #839
Yes, That's perfect solution. Thank you so much!

[2021-12-01 10:20] peci1 commented on #743
No, it's not possible. There is, however, a workaround. You can use RvizScenePublisher and record the published image topic containing the whole rviz view. To convert that to a MP4 video, run image_view video_recorder connected to the rviz image topic.

[2021-12-01 10:24] peci1 opened #841 "Configurable z-index for overlays?"
Hi, thanks a lot for the visualization plugins you made. I really love all the overlay plugins. I'm not that familiar with 3D rendering and Ogre, so I can't figure out a pull request myself. It would really be nice to be able to configure z-index of the overlays, so that if they overlap, the order in which they are rendered is given (currently, it seems to me the order is random). There could eith

[2022-01-10 10:20] Wimll opened #843 "New debian release"
Hi!

Are there any plans to release a new debian package? I am currently using the jsk visualization package, but right now I have to compile it from source on every machine because I need this fix for the visualization of filled ploygons:

https://github.com/jsk-ros-pkg/jsk_visualization/pull/820

As mentioned in this issue:

https://github.com/jsk-ros-pkg/jsk_visualization/issues/799

But as thi

[2022-01-11 03:20] k-okada commented on #843
released on melodic and noetic https://github.com/ros/rosdistro/pull/31727, https://github.com/ros/rosdistro/pull/31728

[2022-01-11 03:20] #843 closed

[2022-01-11 09:19] Wimll commented on #843
@k-okada , thanks! I'll wait for the release to get merged, this saves me a lot of time (:

[2022-03-08 11:20] yongchao987 opened #845 "About downloading ROS melotic jsk rviz plugins tool"
During downloading, about http://cn.archive.ubuntu.com/ubuntu Unable to download, connection failed

[2022-03-09 14:18] knorth55 commented on #845
im not sure your issue, but jsk visualization is distributed from ros server, so it is not related to ubuntu server.
please check your apt server setting.

http://wiki.ros.org/melodic/Installation/Ubuntu#Installation.2FUbuntu.2FSources.Setup_your_sources.list

[2022-04-18 14:15] wanglijia666 opened #847 "How to install jsk_rviz_plugins?"
Hello, I have downloaded zip through GitHub: https://github.com/jsk-ros-pkg/jsk_visualization, so how can I install  jsk_rviz_plugins in the ROS environment of Ubuntu? thank you.

[2022-04-18 14:33] knorth55 commented on #847
please try `deb` package first.
[code]

[2022-04-18 15:49] wanglijia666 commented on #847
I have installed through apt-get, but failed. Can I download zip locally and install it again?

[2022-04-18 15:49] wanglijia666 commented on #847
I have installed through apt-get, but failed. Can I download zip locally and install it again?

[2022-04-18 15:50] wanglijia666 commented on #847
I have installed through apt-get, but failed. Can I download zip locally and install it again?

[2022-04-18 15:51] wanglijia666 commented on #847
I have installed by apt-get, but failed. Can I download zip locally and install it again?

[2022-04-18 15:56] wanglijia666 commented on #847
apt-get install ros-kinetic-jsk-rviz-plugins

[2022-04-19 00:25] k-okada commented on #847
@wanglijia666 do you use ubuntu 16.04?

[2022-04-19 02:10] wanglijia666 commented on #847
yes，ubuntu 16.04

[2022-04-19 03:40] knorth55 commented on #847
What do you mean `failed`?
Can you share us the error log?

[2022-04-19 16:03] wanglijia666 commented on #847
Thank you very much. I solved this problem by changing the source.

[2022-04-20 00:15] k-okada commented on #847
That’s good news . Could you share more detail about the solution. What do
you mean by the ‘source’ and how did you change it ?

2022年4月20日(水) 1:04 wanglijia666 ***@***.***>:

--
--
◉ Kei Okada

[2022-04-20 02:26] wanglijia666 commented on #847
It may be because the download speed of using the default source is too slow, which leads to unsuccessful Download all the time. After switching the source, it is loaded successfully. sudo apt-get update.

[2022-08-30 12:11] ottojo commented on #779
Hi! We ported the text-overlay part to ROS2, and published the package here: https://github.com/teamspatzenhirn/overlay_rviz_plugins We intend to also port some of the other "overlay" plugins. The actually required code changes are rather minimal, and should all be contained in this commit, this might be helpful if someone decides to port the entire package: https://github.com/teamspatzenhirn/over

[2022-10-13 03:44] lidongxu111 opened #854 "shift keyboard release issue in jsk_picker_tool ，The KeyRelease inside is not responding"
int PickerTool::processKeyEvent(QKeyEvent* event, rviz::RenderPanel* panel)
{
  // bool processed = false;
  if (event->type() == QEvent::KeyPress && event->key() ==  Qt::Key_Shift ) { // shift event->type() == QEvent::KeyPress
    // if (event->isAutoRepeat()){
        // event->ignore();
        shift_pressing_ = true;
        // processed == true;
  }
  else if (event->type() == QEvent::KeyRele

[2022-10-13 08:17] k-okada commented on #854
Thank you for report, could you create PR for this?

[2022-10-13 09:25] lidongxu111 commented on #854
I don't know how to create PR, but I can send the complete code to your email, OK？

[2022-10-13 09:27] lidongxu111 commented on #854
Because my knowledge of the code was borrowed from the code

[2022-10-14 02:44] lidongxu111 commented on #854
So, can you help me？

[2022-10-14 07:13] lidongxu111 opened #856 "I want get the key release event in rviz::Tool class"
I want to get the key release event in rviz::Tool class

but the function processKeyEvent can only get pressed key event.

Is there any way to get released key event?

[2022-10-17 11:04] knorth55 opened #857 "Rviz scene publisher image is something weird in fetch"
The right part of the images looks the left part of rviz.
Maybe some memory addresses are wrong?

https://user-images.githubusercontent.com/9300063/196160896-ce6b4ec0-4400-4e1b-bca4-3d741d0a2805.mp4

[2022-10-18 06:11] Charlie-lusie opened #858 "How to offline install this package?"
As title said, I want to use jsk visulization on a offline x86 ubuntu 20.04 machine. I tried to directly compile the source code, but error occurred. Can any one tell me how to offline install jsk vis?

[2022-10-18 06:13] knorth55 commented on #858
we can build this package without internet.
please paste the whole build output.
we want to know the error.

[2022-10-18 07:15] Charlie-lusie commented on #858
I put the package into a ros workspace folder like this:
ws_jsk/
         src/
                jsk_visualizatoion_msater/
                        jsk_inter.../
                        jsk_rqt/
                        jsk_rviz/
                        jsk_visualization/
                other_package/
the output is:
CMake Error at /opt/ros/noetic/share/catkin/cmake/catkinConfig.cmake: 83(find_packag

[2022-10-18 09:48] knorth55 commented on #858
please install the dependencies
[code]

[2022-10-18 11:52] knorth55 commented on #858
you need jsk_common_msgs and pther dependencies.
i dont know how you download the source but you can download deb file from ros server and manually install it, or download source and build it

[2022-10-22 11:59] Freddd13 opened #859 "How to write multiple rows of text with OverlayText using CPP?"
Thank you for the awesome work!
From the python sample script in this repo, I managed to display an one-row text displayed on RVIZ.
However, when I try to display multiple rows of text, there's nothing displayed, and nothing got when use `rostopic echo {TEXT topic}
[code]

In the python example, you just use `"""` to write just as you wish to display, but it seems not to work with cpp.
So I wonder

[2022-11-05 07:06] Surtr07 commented on #828
do you solve it?I meet same problem.

[2022-11-26 09:32] HMX2013 opened #862 "scale issue of Plotter2D"
Thanks for your great work, when using the the jsk rviz plugins in ubutnu or vmware, I found that if the scale value of the display  is not 100%, It may have the following problem. I don't see any option to change the font size of this value in Plotter2D. This problem puzzle me, hope it can be solve on day.
![屏幕截图 2022-11-26 170839](https://user-images.githubusercontent.com/105980724/204081927-c5b